:host {

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;

  .container {

    width: 460px;
    text-align: center;

    .folder-select {

      margin-top: 26px;

      .user-input-pseudoinput {

        height: auto;
        line-height: 19px;
        padding: 9px 0;

      }

    }

    .headline {

      font-family: var(--font-primary);
      color: var(--colour-primary);
      font-weight: var(--font-weight-black);
      font-size: 26px;
      margin: 0;

    }

    .desc {

      margin: 14px 0 0;
      font-size: 17px;
      font-family: var(--font-primary);
      font-weight: var(--font-weight-light);

    }

    .icon {

      color: var(--colour-toolbar-dark);
      font-size: 28px;
      margin-bottom: 23px;

    }

  }

}