<section class="section" *ngIf="currentUser">

  <h2 class="section-title">{{'SETTINGS.USER.TITLE' | translate}}</h2>
  <h3 class="section-headline">{{'SETTINGS.USER.INFORMATION' | translate}}</h3>

  <!-- USERNAME -->
  <label class="user-input-object section-block">
    <span class="user-input-label">{{'SETTINGS.USER.USERNAME' | translate}}</span>
    <span class="user-input-grp">
      <span class="user-input-pseudoinput disabled">{{currentUser.username}}</span>
    </span>
  </label>
  <!-- /USERNAME -->
  <!-- EMAIL -->
  <label class="user-input-object section-block">
    <span class="user-input-label">{{'SETTINGS.USER.EMAIL' | translate}}</span>
    <span class="user-input-grp">
      <span class="user-input-pseudoinput disabled">{{currentUser.email}}</span>
    </span>
  </label>
  <!-- /EMAIL -->

  <form [formGroup]="editProfileFormGroup" (ngSubmit)="onSubmit('edit-profile')">
    <!-- DISPLAYNAME -->
    <label class="user-input-object section-block">
      <span class="user-input-label">{{'SETTINGS.USER.DISPLAYNAME' | translate}}</span>
      <span class="user-input-grp">
        <input class="user-input-controller" formControlName="displayName" [placeholder]="'SETTINGS.USER.DISPLAYNAME' | translate" />
        <ng-container *ngIf="editProfileFormControls.displayName.invalid && editProfileFormControls.displayName.touched">
          <span class="user-input-error" *ngFor="let error of keys(editProfileFormControls.displayName.errors)">
            <ng-container [ngSwitch]="error">
              <ng-container *ngSwitchCase="'minlength'">{{'VALIDATORS.LENGTH' | translate : { x: 3 } }}</ng-container>
              <ng-container *ngSwitchCase="'required'">{{'VALIDATORS.REQUIRED' | translate}}</ng-container>
            </ng-container>
          </span>
        </ng-container>
      </span>
    </label>
    <!-- /DISPLAYNAME -->

    <!-- Save -->
    <section class="section-block section-block--full section-block--save">
      <button class="regular primary">{{'GENERAL.SAVECHANGES' | translate}}</button>
      <span class="message" *ngIf="confirm.account">
        <i class="fas fa-check" aria-hidden="true"></i>
        {{'SETTINGS.MESSAGES.SAVED' | translate}}
      </span>
      <span class="error" *ngIf="error.account">
        <i class="fas fa-times" aria-hidden="true"></i>
        {{'SETTINGS.MESSAGES.ERROR' | translate}}
      </span>
    </section>
    <!-- /Save -->
  </form>

  <h3 class="section-headline">{{'SETTINGS.USER.SECURITY' | translate}}</h3>
  <form [formGroup]="resetPasswordFormGroup" (ngSubmit)="onSubmit('reset-password')">
    <!-- PREVIOUS PASSWORD -->
    <label class="user-input-object section-block">
      <span class="user-input-label">{{'SETTINGS.USER.PASSWORD.PREVIOUS' | translate}}</span>
      <span class="user-input-grp">
        <span (click)="isOldPasswordPlain = !isOldPasswordPlain" class="user-input-icon after clickable"><i class="fas" [class.fa-eye-slash]="!isOldPasswordPlain" [class.fa-eye]="isOldPasswordPlain" aria-hidden="true"></i></span>
        <input class="user-input-controller" formControlName="oldPassword" [type]="isOldPasswordPlain ? 'text' : 'password'" [placeholder]="'SETTINGS.USER.PASSWORD.PREVIOUS' | translate" />
        <ng-container *ngIf="resetPasswordFormControls.oldPassword.invalid && resetPasswordFormControls.oldPassword.touched">
          <span class="user-input-error" *ngFor="let error of keys(resetPasswordFormControls.oldPassword.errors)">
            <ng-container [ngSwitch]="error">
              <ng-container *ngSwitchCase="'minlength'">{{'VALIDATORS.LENGTH' | translate : { x: 6 } }}</ng-container>
              <ng-container *ngSwitchCase="'required'">{{'VALIDATORS.REQUIRED' | translate}}</ng-container>
            </ng-container>
          </span>
        </ng-container>
      </span>
    </label>
    <!-- /PREVIOUS PASSWORD -->
    <!-- NEW PASSWORD -->
    <label class="user-input-object section-block">
      <span class="user-input-label">{{'SETTINGS.USER.PASSWORD.NEW' | translate}}</span>
      <span class="user-input-grp">
        <span (click)="isNewPasswordPlain = !isNewPasswordPlain" class="user-input-icon after clickable"><i class="fas" [class.fa-eye-slash]="!isNewPasswordPlain" [class.fa-eye]="isNewPasswordPlain" aria-hidden="true"></i></span>
        <input class="user-input-controller" formControlName="newPassword" [type]="isNewPasswordPlain ? 'text' : 'password'" [placeholder]="'SETTINGS.USER.PASSWORD.NEW' | translate" />
        <ng-container *ngIf="resetPasswordFormControls.newPassword.invalid && resetPasswordFormControls.newPassword.touched">
          <span class="user-input-error" *ngFor="let error of keys(resetPasswordFormControls.newPassword.errors)">
            <ng-container [ngSwitch]="error">
              <ng-container *ngSwitchCase="'minlength'">{{'VALIDATORS.LENGTH' | translate : { x: 6 } }}</ng-container>
              <ng-container *ngSwitchCase="'required'">{{'VALIDATORS.REQUIRED' | translate}}</ng-container>
            </ng-container>
          </span>
        </ng-container>
      </span>
    </label>
    <!-- /NEW PASSWORD -->

    <!-- Save -->
    <section class="section-block section-block--full section-block--save">
      <button class="regular primary">{{'GENERAL.SAVECHANGES' | translate}}</button>
      <span class="message" *ngIf="confirm.password">
        <i class="fas fa-check" aria-hidden="true"></i>
        {{'SETTINGS.MESSAGES.SAVED' | translate}}
      </span>
      <span class="error" *ngIf="error.password">
        <i class="fas fa-times" aria-hidden="true"></i>
        <ng-container *ngIf="isPasswordMatchInvalid">
          {{'SETTINGS.MESSAGES.WRONGPASS' | translate}}
        </ng-container>
        <ng-container *ngIf="!isPasswordMatchInvalid">
          {{'SETTINGS.MESSAGES.ERROR' | translate}}
        </ng-container>
      </span>
    </section>
    <!-- /Save -->
  </form>

</section>

<section class="section">

  <h2 class="section-title">{{'SETTINGS.APP.TITLE' | translate}}</h2>
  <h3 class="section-headline">{{'SETTINGS.APP.LANGUAGE' | translate}}</h3>
    
  <!-- LANGUAGE -->
  <label class="user-input-object section-block" *ngIf="{active: languageService.active$ | async} as language">
    <span class="user-input-grp">
      <span class="user-input-icon after"><i aria-hidden="true" class="fa fa-angle-down"></i></span>
      <select (change)="onLanguageSelect($event.target.value)" class="user-input-controller select">
        <ng-container *ngFor="let lang of languageService.languages">
          <option [value]="lang.code" [selected]="lang.code === language.active.code">{{lang.title}}</option>
        </ng-container>
      </select> 
    </span>
  </label>
  <!-- /LANGUAGE -->

</section>