:host {

  width: 100%;
  display: block;
  padding: 32px;
  box-sizing: border-box;

  form {

    display: contents;

  }

  .section {

    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;

    &-title,
    &-headline {

      flex: 0 0 100%;
    
    }

    &-block {

      flex: 0 0 45%;
      box-sizing: border-box;
      margin: 6px 0;

      &--full {

        flex: 0 0 100%;

      }

      &--save {

        margin: 12px 0 21px;

        button {

          display: block;
          float: left;
          min-width: 156px;

        }

        .error,
        .message {

          display: flex;
          float: left;
          align-items: center;
          box-sizing: border-box;
          padding-left: 18px;
          font-weight: var(--font-weight-bold);
          font-size: var(--font-size-default);
          height: 38px;
          line-height: 38px;

          i {

            font-size: 18px;
            margin-right: 12px;
            height: auto;

          }

        }

        .error {

          color: var(--colour-danger);

        }

        .message {

          color: var(--colour-primary);

        }

      }

    }

    &-title {

      margin: 0 0 6px 0;
      font-size: 23px;
      line-height: 23px;
      font-weight: var(--font-weight-bold);
      color: #000;

    }

    &-headline {

      margin: 12px 0 6px 0;
      font-size: 16px;
      line-height: 16px;
      font-size: var(--font-primary);
      font-weight: var(--font-weight-bold);
      color: #000;

    }

  }

  .section:not(:first-of-type) {

    .section-title {

      margin-top: 32px;

    }

  }

}