:host {

  position: relative;
  width: 100%;
  height: calc(100vh - var(--header-size)); 
  display:flex;
  justify-content:flex-start;
  flex-direction: row;

  sf-sidebar,
  sf-main {

    position: relative;
    height: 100%;

  }

  sf-sidebar {

    flex-grow: 0;
    flex-shrink: 0;

  }

  sf-main {

    flex: 1 0 auto;

    sf-filter-toolbar {
      grid-row: 1;
    }
    sf-document-list {
      grid-row: 2;
    }

  }
  
  .isolated {

    margin: 24px 0 0 24px;
    display: block;
    position: relative;
    border: 1px solid red;
    width: 1000px;
    height: 800px;  

  }

}