<!-- Sidebar  -->
<sf-sidebar
  [active-selection-reference]="activeSelection$"
  [enable-list]="false"
  (on-remove-all)="onSidebarRemoveSelectedDocuments()"
></sf-sidebar>
<!-- /Sidebar -->

<!-- Main -->
<sf-main>

  <!-- Filters -->
  <sf-filter-toolbar [document-selection-reference]="activeSelection$"></sf-filter-toolbar>
  <!-- /Filters -->

  <sf-document-list
    *ngIf="searchQuery$"
    (on-folder-open)="folderOpen($event)"
    [search-query]="searchQuery$"
    [active-directory-reference]="workspaceService.activeDirectory$"
    [document-selection-reference]="activeSelection$"
    [document-sorting-reference]="workspaceService.directorySorting$"
  ></sf-document-list>  
  
</sf-main>
<!-- /Main --> 