<section class="container">
  <ng-container *ngIf="showIndicator">
    <section class="loading-indicator">
      <i class="fas fa-spinner fa-pulse"></i>
    </section>
  </ng-container>
  <ng-container *ngIf="!showIndicator">
    <ng-container [ngSwitch]="step">
      <ng-container *ngSwitchCase="1">
        <button *ngFor="let lang of languageService.languages" (click)="setLanguage(lang.code)" class="large primary button lang-button">{{lang.title}}</button>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <img class="logo" src="assets/images/logo.dark.png" alt="SafeFiles" />
        <h2 class="headline">{{'INTRODUCTION.WELCOME.TITLE' | translate}}</h2>
        <h3 class="subheadline">{{'INTRODUCTION.WELCOME.BODY' | translate}}</h3>
        <button (click)="toStep(3)" class="large primary button">{{'INTRODUCTION.WELCOME.BUTTON' | translate}}</button>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <h2 class="headline">{{'INTRODUCTION.FOLDER.TITLE' | translate}}</h2>
        <h3 class="subheadline">{{'INTRODUCTION.FOLDER.BODY' | translate}}</h3>
        <label class="user-input-object folder-select">
          <span class="user-input-grp">
            <span class="user-input-pseudoinput" [class.ng-invalid]="selectorError" [class.ng-touched]="selectorError" (click)="showFolderInterface($event)">{{selectedPath ? selectedPath : ('INTRODUCTION.FOLDER.NOFOLDERSELECTED' | translate)}}</span>
          </span>
        </label>
        <button (click)="toStep(4)" [disabled]="selectorError" class="large primary button">{{'INTRODUCTION.FOLDER.BUTTON' | translate}}</button>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <h2 class="headline">{{'INTRODUCTION.FINISH.TITLE' | translate}}</h2>
        <h3 class="subheadline">{{'INTRODUCTION.FINISH.BODY' | translate}}</h3>
        <button (click)="startWorking()" class="large primary button">{{'INTRODUCTION.FINISH.START' | translate}}</button>
      </ng-container>
    </ng-container>
  </ng-container>
</section>