:host {

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;

  .controls {

    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18px;

    i {

      font-size: 22px;
      color: var(--colour-toolbar-dark);
      transition: 200ms;

      &.disabled {

        color: var(--colour-toolbar-regular);

      }

      &:not(.disabled):hover {

        cursor: pointer;
        color: var(--colour-primary);

      }

    }

  }

  .container {

    width: 460px;
    text-align: center;

    .loading-indicator {

      i {

        color: var(--colour-toolbar-dark);
        font-size: 22px;
  
      }

    }

    .folder-select,
    .button {

      margin-top: 26px;

    }

    .lang-button {

      margin-left: 4px;
      margin-right: 4px;

    }

    .headline {

      font-family: var(--font-primary);
      color: var(--colour-primary);
      font-weight: var(--font-weight-black);
      font-size: 26px;
      margin: 0;

    }

    .subheadline {

      margin: 6px 0 0;
      font-size: 17px;
      font-family: var(--font-primary);
      font-weight: var(--font-weight-light);

    }

    .logo {

      margin-bottom: 26px;
      max-width: 70%;
      height: auto;

    }

  }

  .dots {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: 6px;

    .dot {

      color: var(--colour-toolbar-dark);
      font-size: 9px;
      margin: 0 3px;
      transition: 200ms;

      &:hover,
      &.active {

        cursor: pointer;
        color: var(--colour-primary);

      }

    }

  }

}