:root {

  /**
  3 sizes:
    - small
    - regular (default)
    - large
  2 styles:
    - full (default)
    - outline
  3 schemes:
    - primary
    - light (default)
    - danger
  */

  button {

    outline: 0;
    border-radius: var(--corner-radius);
    transition: 300ms ease;
    font-weight: var(--font-weight-regular);
    font-family: var(--font-primary);
    border-style: solid;
    border-width: 1px;
    border-color: transparent;

    /** General hover */
    &:not(:disabled):hover {
      cursor: pointer;
    }

    /** Sizing */
    &:not(.small):not(.large), &.regular {
      font-size: var(--font-size-button-regular);
      height: var(--button-regular-size-vertical);
      line-height: var(--button-regular-size-vertical);
      padding: 0 18px;
    }
    &.small { 
      font-size: var(--font-size-button-small);
      height: var(--button-small-size-vertical);
      line-height: var(--button-small-size-vertical);
      padding: 0 16px;
    }
    &.large {
      font-size: var(--font-size-button-large);
      height: var(--button-large-size-vertical);
      line-height: var(--button-large-size-vertical);
      padding: 0 18px;
    }

    /** Styles */
    &.outline {
      border-style: solid;
      border-width: 1px;
    }

    /** Schemes */
    &:not(.primary):not(.danger), &.light { 
      &.outline {
        color: var(--colour-button-outlined-light-text);
        background: var(--colour-button-outlined-light-bg);
        border-color: var(--colour-button-outlined-light-border);
        &:disabled {
          color: var(--colour-button-outlined-light-disabled-text);
          background: var(--colour-button-outlined-light-disabled-bg);
          border-color: var(--colour-button-outlined-light-disabled-border);
        }
        &:not(:disabled):hover {
          color: var(--colour-button-outlined-light-text-hover);
          background: var(--colour-button-outlined-light-bg-hover);
          border-color: var(--colour-button-outlined-light-border-hover);
        }
      }
      &:not(.outline) {
        color: var(--colour-button-filled-light-text);
        background: var(--colour-button-filled-light-bg);
        border-color: var(--colour-button-filled-light-border);
        &:disabled {
          color: var(--colour-button-filled-light-disabled-text);
          background: var(--colour-button-filled-light-disabled-bg);
          border-color: var(--colour-button-filled-light-disabled-border);
        }
        &:not(:disabled):hover {
          color: var(--colour-button-filled-light-text-hover);
          background: var(--colour-button-filled-light-bg-hover);
          border-color: var(--colour-button-filled-light-border-hover);
        }
      }
    }
    &.primary {
      &.outline {
        color: var(--colour-button-outlined-primary-text);
        background: var(--colour-button-outlined-primary-bg);
        border-color: var(--colour-button-outlined-primary-border);
        &:disabled {
          color: var(--colour-button-outlined-primary-disabled-text);
          background: var(--colour-button-outlined-primary-disabled-bg);
          border-color: var(--colour-button-outlined-primary-disabled-border);
        }
        &:not(:disabled):hover {
          color: var(--colour-button-outlined-primary-text-hover);
          background: var(--colour-button-outlined-primary-bg-hover);
          border-color: var(--colour-button-outlined-primary-border-hover);
        }
      }
      &:not(.outline) {
        color: var(--colour-button-filled-primary-text);
        background: var(--colour-button-filled-primary-bg);
        border-color: var(--colour-button-filled-primary-border);
        &:disabled {
          color: var(--colour-button-filled-primary-disabled-text);
          background: var(--colour-button-filled-primary-disabled-bg);
          border-color: var(--colour-button-filled-primary-disabled-border);
        }
        &:not(:disabled):hover {
          color: var(--colour-button-filled-primary-text-hover);
          background: var(--colour-button-filled-primary-bg-hover);
          border-color: var(--colour-button-filled-primary-border-hover);
        }
      }
    }
    &.danger {
      &.outline {
        color: var(--colour-button-outlined-danger-text);
        background: var(--colour-button-outlined-danger-bg);
        border-color: var(--colour-button-outlined-danger-border);
        &:disabled {
          color: var(--colour-button-outlined-danger-disabled-text);
          background: var(--colour-button-outlined-danger-disabled-bg);
          border-color: var(--colour-button-outlined-danger-disabled-border);
        }
        &:not(:disabled):hover {
          color: var(--colour-button-outlined-danger-text-hover);
          background: var(--colour-button-outlined-danger-bg-hover);
          border-color: var(--colour-button-outlined-danger-border-hover);
        }
      }
      &:not(.outline) {
        color: var(--colour-button-filled-danger-text);
        background: var(--colour-button-filled-danger-bg);
        border-color: var(--colour-button-filled-danger-border);
        &:disabled {
          color: var(--colour-button-filled-danger-disabled-text);
          background: var(--colour-button-filled-danger-disabled-bg);
          border-color: var(--colour-button-filled-danger-disabled-border);
        }
        &:not(:disabled):hover {
          color: var(--colour-button-filled-danger-text-hover);
          background: var(--colour-button-filled-danger-bg-hover);
          border-color: var(--colour-button-filled-danger-border-hover);
        }
      }
    }

  }

}