$font-path: "assets/fonts" !default;

@font-face {
  font-family: 'Roboto';
  src: url('#{$font-path}/Roboto-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('#{$font-path}/Roboto-LightItalic.ttf') format('ttf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('#{$font-path}/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('#{$font-path}/Roboto-RegularItalic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('#{$font-path}/Roboto-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('#{$font-path}/Roboto-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('#{$font-path}/Roboto-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('#{$font-path}/Roboto-BlackItalic.ttf') format('ttf');
  font-weight: 900;
  font-style: italic;
}

/** Font Awesome */
@import '../font-awesome/fontawesome.scss';
@import '../font-awesome/regular.scss';
@import '../font-awesome/solid.scss';