:root {

  /** Labels */
  .user-input {

    /** Wrapping element for all user input controls */
    &-object {

      width: 100%;
      float: left;
      margin: 12px 0;

    }
    /** User input group label */
    &-label {

      float: left;  
      position: relative;
      width: 100%;
      display: block;
      font-size: var(--font-size-input-label);
      font-weight: normal;
      color: var(--colour-text);
      line-height: 16px;
      margin-bottom: 4px;

      .user-input-icon {

        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 16px;
        line-height: 16px;
        color: rgb(187, 187, 187);
        transition: 150ms;
        font-size: 16px;
  
        img {
  
          width: 13px;
          height: auto;
  
        }
  
        &.after  {
  
          right: 0;
  
          & + .user-input-controller {
  
            padding-right: 38px;
  
          }
  
        }
        &.before {
  
          left: 0;
  
          & + .user-input-controller {
  
            padding-left: 38px;
  
          }
  
        }
        &.clickable:hover {
  
          color: rgb(146, 146, 146);
          cursor: pointer;
  
        }
  
      }

    }
    &-comment {

      display: block;
      float: left;
      width: 100%;
      font-size: 13px;
      margin: 12px 0 6px;
      font-style: italic; 

      &::before {

        content: '*';
        margin-right: 2px;

      }

    }
    /** Input group, wrapping input element itself and providing shell for additional icons */
    &-grp {

      width: 100%;
      display: block;
      float: left;
      position: relative;

    }
    
    /** Base input class applicable to all input elements with exception of checkbox and radio */
    &-pseudoinput {
      cursor: pointer;
    }

    &-error {

      display: block;
      width: 100%;
      color: var(--colour-danger);
      font-size: var(--font-size-default);
      font-weight: var(--font-weight-bold);
      line-height: calc(var(--font-size-default) + 6px);
      margin: 6px 0 0;
      box-sizing: border-box;
      padding-left: 26px;
      position: relative;

      &::before {

        display: flex;
        position: absolute;
        content: '\f071';
        justify-content: center;
        align-items: center;
        font-family: var(--font-icons);
        color: var(--colour-danger);
        left: 0;
        top: 0;
        width: 19px;
        height: 19px;

      }

    }
    
    &-controller:not([type=checkbox]):not([type=radio]),
    &-pseudoinput {

      /** Base */
      display: block; 
      background: #fff;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #E8E8E8;
      color: var(--colour-text);
      font-size: var(--font-size-input);
      padding: var(--input-inner-offset-vertical) var(--input-inner-offset-horizontal);
      height: var(--input-size-vertical);
      line-height: var(--input-size-vertical);
      border-radius: var(--corner-radius);
        
      /** Placeholder */
      &::placeholder {

        font-style: italic;
        font-weight: 300;

      }

      /** Errors etc. */
      &.ng-invalid.ng-touched {

        border-color: var(--colour-danger);

      }
      &:focus,
      &.sf-focus-test {

        border-color: var(--colour-primary-highlight);
        outline: none;
        box-shadow: none;

      }

      &:disabled,
      &.disabled {
        cursor: default;
        border-color: var(--colour-toolbar-regular);
        background: var(--colour-toolbar-light);
        color: var(--colour-toolbar-dark);  
      }

    }
    /** Radio & Checkbox */
    &-controller[type=checkbox].checkbox,
    &-controller[type=radio].radio,
    &-controller[type=checkbox].switch {

      & {

        display: none;

      }

      & + .user-input-controller-placeholder + .user-input-description {

        float: left;
        display: block;
        width: calc(100% - 31px);
        cursor: pointer;

      }      

      & + .user-input-controller-placeholder {

        display: block;
        float: left;
        position: relative;
        width: 14px;
        height: 14px;
        box-sizing: border-box;
        border: 1px solid var(--colour-toolbar-dark);
        color: var(--colour-primary);
        background: #fff;
        cursor: pointer;
        text-align: center;
        transition: 300ms;  

        i {

          line-height: 12px;

        }

      }

      &:checked + .user-input-controller-placeholder {

        border-color: var(--colour-primary);

      }

    }
    &-controller[type=radio].radio {

      & + .user-input-controller-placeholder {

        border-radius: 50%;

      }

      & + .user-input-controller-placeholder::after {

        content: '';
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        transition: 0;

      }

      &:checked + .user-input-controller-placeholder::after {

        background: var(--colour-primary);

      }

    }
    &-controller[type=checkbox].checkbox {

      & + .user-input-controller-placeholder {

        border-radius: 2px;
        text-indent: -999px;
        font-size: 9px;
        transition: text-indent 0s;

      }

      &:checked + .user-input-controller-placeholder {

        text-indent: 0;

      }

    }
    &-controller[type=checkbox].switch {

      & + .user-input-controller-placeholder {

        top: 2px;
        width: 23px;
        height: 12px;
        border-radius: 14px;
        border-color: var(--colour-toolbar-dark);
        background: #bbbbbb;

        &:after {

          content: '';
          display: block;
          position: absolute;
          z-index: 2;
          transition: 300ms;
          top: -2px;
          right: -1px;
          width: 14px;
          height: 14px; 
          border-radius: 50%;
          background: #fff;
          box-sizing: border-box;
          border: 1px solid var(--colour-toolbar-dark);

        }

      }

      &:checked + .user-input-controller-placeholder {

        border-color: var(--colour-primary-shade-2);
        background: #fff;

        &:after {
          border-color: var(--colour-primary-shade-2);
          background: var(--colour-primary);
          right: auto;
          left: -1px; 
        }

      }
  
    }
    &-description {

      font-size: 12px;
      line-height: 18px;
      min-height: 18px;
      display: inline-block;
      margin-left: 8px;

    }
    &-icon:not(.head-icon) {

      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: var(--input-size-vertical);
      color: rgb(187, 187, 187);
      transition: 150ms;

      img {

        width: 13px;
        height: auto;

      }

      &.after  {

        right: 0;

        & + .user-input-controller {

          padding-right: 38px;

        }

      }
      &.before {

        left: 0;

        & + .user-input-controller {

          padding-left: 38px;

        }

      }
      &.clickable:hover {

        color: rgb(146, 146, 146);
        cursor: pointer;

      }

    }

  }

  /** Case-specific */
  textarea.user-input-controller {

    width: 100%;
    font-family: var(--font-primary);
    height: auto;
    min-height: 120px;
    max-height: 420px;
    resize: vertical;
    padding: var(--textarea-inner-offset-vertical) var(--textarea-inner-offset-horizontal) !important;
    line-height: 20px !important;

  }
  select.user-input-controller {

    appearance: textfield;

  }

}