:root {

  /** Style */
  --corner-radius: 4px;
  --corner-radius-small: 2px;
  --corner-radius-medium: 6px;
  --corner-radius-large: 8px;

  --header-size: 49px;

  /** Inputs etc. */
  --input-size-vertical: 38px;
  --input-inner-offset-horizontal: 12px;
  --input-inner-offset-vertical: 0;
  --textarea-inner-offset-horizontal: var(--input-inner-offset-horizontal);
  --textarea-inner-offset-vertical: 16px;

  --button-small-size-vertical: 32px;
  --button-regular-size-vertical: 38px;
  --button-large-size-vertical: 46px;

  /** Typography */ 
  --font-primary: 'Roboto', sans-serif;
  --font-icons: 'Font Awesome 5 Free';
  
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --font-size-default: 13px;
  --font-size-input: 13px;
  --font-size-input-label: 13px;
  --font-size-button-small: 12px;
  --font-size-button-regular: 13px;
  --font-size-button-large: 15px;

  /** Colours */
  --colour-toolbar-light: #F8F8F8;
  --colour-toolbar-regular: #E4E4E4;
  --colour-toolbar-dark: #A1A1A1;
  
  --colour-primary: #385085;
  --colour-primary-contrast: #ffffff;
  --colour-primary-highlight: #a0acc5;
  --colour-primary-highlight-2: #587ed1;
  --colour-primary-shade: #3d5891;
  --colour-primary-shade-2: #2d416b;
  --colour-primary-darken: #1d2a45;

  --colour-danger: #f82736;
  --colour-danger-contrast: #ffffff;
  --colour-danger-shade: #d90514;

  --colour-links: #3d5891;
  --colour-text: #000000;

  /** Buttons */
  /** Light */
  --colour-button-filled-light-bg: #f0f0f0;
  --colour-button-filled-light-bg-hover: #dfdfdf;
  --colour-button-filled-light-text: #000000;
  --colour-button-filled-light-text-hover: #000;
  --colour-button-filled-light-border: #dfdfdf;
  --colour-button-filled-light-border-hover: #d6d6d6;
  --colour-button-filled-light-disabled-bg: rgb(220, 227, 236);
  --colour-button-filled-light-disabled-text: rgb(173, 173, 173);
  --colour-button-filled-light-disabled-border: rgb(199, 205, 212);
  --colour-button-outlined-light-bg: transparent;
  --colour-button-outlined-light-bg-hover: transparent;
  --colour-button-outlined-light-text: #000000;
  --colour-button-outlined-light-text-hover: #000;
  --colour-button-outlined-light-border: #dfdfdf;
  --colour-button-outlined-light-border-hover: #b6b6b6;
  --colour-button-outlined-light-disabled-bg: rgb(220, 227, 236);
  --colour-button-outlined-light-disabled-text: rgb(173, 173, 173);
  --colour-button-outlined-light-disabled-border: rgb(199, 205, 212);

  /** Primary */
  --colour-button-filled-primary-bg: var(--colour-primary-shade);
  --colour-button-filled-primary-bg-hover: var(--colour-primary-shade-2);
  --colour-button-filled-primary-text: #fff;
  --colour-button-filled-primary-text-hover: #fff;
  --colour-button-filled-primary-border: var(--colour-primary-shade);
  --colour-button-filled-primary-border-hover: var(--colour-primary-shade-2); 
  --colour-button-filled-primary-disabled-bg: rgb(172, 172, 172);
  --colour-button-filled-primary-disabled-text: rgb(124, 124, 124);
  --colour-button-filled-primary-disabled-border: rgb(172, 172, 172);
  --colour-button-outlined-primary-bg: transparent;
  --colour-button-outlined-primary-bg-hover: transparent;
  --colour-button-outlined-primary-text: #000000;
  --colour-button-outlined-primary-text-hover: #000;
  --colour-button-outlined-primary-border: var(--colour-primary-shade);
  --colour-button-outlined-primary-border-hover: var(--colour-primary-darken); 
  --colour-button-outlined-primary-disabled-bg: #f3f3f3;
  --colour-button-outlined-primary-disabled-text: rgb(190, 190, 190);
  --colour-button-outlined-primary-disabled-border: rgb(199, 205, 212);

  --colour-button-filled-danger-bg: var(--colour-danger);
  --colour-button-filled-danger-bg-hover: var(--colour-danger-shade);
  --colour-button-filled-danger-text: var(--colour-danger-contrast);
  --colour-button-filled-danger-text-hover: #fff;
  --colour-button-filled-danger-border: var(--colour-danger);
  --colour-button-filled-danger-border-hover: var(--colour-danger-shade);
  --colour-button-filled-danger-disabled-bg: #e0666e;
  --colour-button-filled-danger-disabled-text: #ff9292;
  --colour-button-filled-danger-disabled-border: #e0666e;

  --colour-button-outlined-danger-bg: transparent;
  --colour-button-outlined-danger-bg-hover: transparent;
  --colour-button-outlined-danger-text: var(--colour-danger);
  --colour-button-outlined-danger-text-hover: #c70c18;
  --colour-button-outlined-danger-border: var(--colour-danger);
  --colour-button-outlined-danger-border-hover: #c70c18;
  --colour-button-outlined-danger-disabled-bg: transparent;
  --colour-button-outlined-danger-disabled-text: #dd898e; 
  --colour-button-outlined-danger-disabled-border: #dd898e; 
}