:host {

  display: block;
  grid-row: 2;
  flex: 2 0 auto;
  overflow: hidden auto;
  position: relative;

  --active-selection-height: 38px;
  --active-selection-offset-horizontal: 12px;
  --active-selection-corner-radius: var(--corner-radius);

  &::-webkit-scrollbar {
    width: 5px;
    border-radius: var(--corner-radius-medium);
  }
  
  &::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: var(--corner-radius-medium);
  }
  
  &::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: var(--corner-radius-medium);
  }

} 
:host {

  .datatable {

    position: relative;
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: 38px minmax(400px, 50%) minmax(250px, 50%) minmax(250px, 50%);
    box-sizing: border-box;

    &.compressed {

      grid-template-columns: 38px minmax(400px, 70%) minmax(250px, 30%);

    }

  }
  
  .head,
  .body,
  .row {

    display: contents;

  }

  /** Head columns */
  .head {
    .col-head {

      z-index: 2;
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 0 10px;
      height: 42px;
      border-bottom: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
      background: #fff; 

      .label {

        font-size: 12px;
        color: #000;
        font-family: var(--font-primary);
        font-weight: var(--font-weight-regular);
        cursor: pointer;

      }

      .sort-group {

        margin-left: 6px;

        .sort-icon {

          display: block; 
          height: 9px;
          line-height: 9px;
          transition: 300ms;
          color: var(--colour-toolbar-regular);

          &.active,
          &:hover {

            cursor: pointer;
            color: var(--colour-toolbar-dark);

          }

        }

      }

      &:first-child,
      &:last-child {

        border-right: 0;
        
      }

    }
  }
  
  /** Body columns */
  .body {
    .row {
      /** Column */
      .col {

        display: flex;
        align-items: center;
        padding: 11px 6px;
        box-sizing: border-box;
        background: #f8f8f8;
        cursor: pointer;

        &-folder {

          grid-column-start: 1;
          grid-column-end: 5;
          justify-content: flex-start;
          padding: 11px 12px !important;

        }

      }
      &:nth-child(even) .col {

        background: #fff;

      }
      &.active .col {

        background: #eeeeee;

      }
      /** Labels */
      .label {

        color: #000;
        font-family: var(--font-primary);
        font-weight: var(--font-weight-regular);
        font-size: 13px;  
        line-height: 19px;

      }
      .trace {

        color: var(--colour-toolbar-dark);
        font-family: var(--font-primary);
        font-size: 11px;
        margin-right: 12px;

      }
      .icon {

        width: 23px;
        flex: 0 0 23px;
        height: auto;
        margin-right: 12px;

        &-fa {

          color: var(--colour-toolbar-dark);
          font-size: 16px;

        }
  
      }
    }
    .row-title {

      .col.title {

        grid-column-start: 1;
        grid-column-end: 5;
        justify-content: flex-start;
        padding: 11px 12px !important;
        text-transform: uppercase;
        
        background: var(--colour-toolbar-regular);
        color: var(--colour-toolbar-dark);
        font-weight: var(--font-weight-bold);
        font-size: 12px;

        &:hover {

          cursor: default;

        }

      }

    }
  }

  /** General */
  .head,
  .body {
    .col:first-child {

      padding-left: 0 !important;
      padding-right: 0 !important;
      justify-content: center;
      align-items: center;

      .user-input-object {

        width: auto;

      }

    }
  }
  
}
:host {

  .indicator {

    display: flex;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.8);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--colour-toolbar-dark);

  }

  .editor {

    position: absolute;
    width: 320px;
    height: 100%;
    z-index: 5;
    top: 0;
    right: 0;
    border-left: 1px solid var(--colour-toolbar-regular);
    background: #fff;

  }

  /** Inner scroll wrapper */
  .inner {

    display: block;
    width: 100%;
    height: calc(100% - 42px);
    overflow: hidden auto; 
    box-sizing: border-box;
    padding: 0 12px;

    &::-webkit-scrollbar {
      width: 5px;
    }
    
    &::-webkit-scrollbar-track {
      background: #ddd;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #666; 
    }

    .user-input-icon.after {

      width: 19px;
      right: 10px;
  
      &.second {
  
        right: 34px;
  
      }
  
    }     
  
    .user-input-label {
  
      font-weight: var(--font-weight-bold);
      margin-bottom: 8px;
      font-size: 12px;
  
    }
  
    .user-input-comment {
  
      color: #2f2f2f;
  
    }

  }

  .header {

    flex-flow: row nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    padding: 0 12px;
    background: var(--colour-toolbar-light);
    border-bottom: 1px solid var(--colour-toolbar-regular);

    .close-interface {

      color: #bbb;
      font-size: 13px;
      transition: 300ms;

      &:hover {
        cursor: pointer;
        color: var(--colour-toolbar-dark);
      }

    }

    .sidebar-title {

      line-height: 42px;
      color: var(--colour-toolbar-dark);
      font-size: 11px;
      text-transform: uppercase;

    }

  }

}
:host {

  .active-selection {

    display: block;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 var(--active-selection-offset-horizontal);

    .header,
    .body {

      width: 100%;

    }

    .header {

      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      height: var(--active-selection-height);
      background: var(--colour-primary-highlight-2);
      border-radius: var(--active-selection-corner-radius) var(--active-selection-corner-radius) 0 0;

      .current-selection {

        font-size: 13px;
        font-family: var(--font-primary);
        font-weight: var(--font-weight-regular);
        color: #fff;

      }

      .action {

        .button.light {

          color: #fff;
          border-color: #fff; 

        }

        .button {

          height: 28px;
          line-height: 28px;
          padding: 0 8px;
          font-size: 11px;
      
          .icon {

            margin-left: 4px;

          }

          &:not(:first-child) {

            margin-left: 8px;

          }

        }

      }

    }

  }

}