<!-- Table -->
<table class="datatable" [class.compressed]="displayMode === 'compressed'">
  <thead class="head">
    <tr class="row">
      <th  class="col col-head controls">
        <label class="user-input-object">
          <span class="user-input-grp">
            <input [(ngModel)]="isSelectAllEnabled" (change)="onDocumentSelectAll($event, false)" class="user-input-controller checkbox" type="checkbox" />
            <span [title]="'GENERAL.SELECTALL' | translate" class="user-input-controller-placeholder checkbox">
              <i class="fas fa-check" aria-hidden="true"></i>
            </span>
          </span>
        </label>
      </th>
      <th class="col col-head name">
        <span [title]="'COMPONENTS.SORTING.SORTBYSUBJECT' | translate : { subject: ('COMPONENTS.SORTING.SUBJECTS.DOCUMENTNAME' | translate).toLowerCase() }" (click)="changeSortingPattern('name')" class="label">{{'COMPONENTS.SORTING.DOCUMENTNAME' | translate}}</span>
        <span class="sort-group">
          <i (click)="changeDirection('asc', 'name')" [title]="'COMPONENTS.SORTING.SORTASCENDING' | translate" class="fas fa-caret-up sort-icon" [class.active]="activeSortingPattern === 'name' && activeSortingDirection === 'asc'" aria-hidden="true"></i>
          <i (click)="changeDirection('desc', 'name')" [title]="'COMPONENTS.SORTING.SORTDESCENDING' | translate" class="fas fa-caret-down sort-icon" [class.active]="activeSortingPattern === 'name' && activeSortingDirection === 'desc'" aria-hidden="true"></i>
        </span>
      </th>
      <th class="col col-head type">
        <span [title]="'COMPONENTS.SORTING.SORTBYSUBJECT' | translate : { subject: ('COMPONENTS.SORTING.SUBJECTS.DOCUMENTTYPE' | translate).toLowerCase() }" (click)="changeSortingPattern('type')" class="label">{{'COMPONENTS.SORTING.DOCUMENTTYPE' | translate}}</span>
        <span class="sort-group">
          <i (click)="changeDirection('asc', 'type')" [title]="'COMPONENTS.SORTING.SORTASCENDING' | translate" class="fas fa-caret-up sort-icon" [class.active]="activeSortingPattern === 'type' && activeSortingDirection === 'asc'" aria-hidden="true"></i>
          <i (click)="changeDirection('desc', 'type')" [title]="'COMPONENTS.SORTING.SORTDESCENDING' | translate" class="fas fa-caret-down sort-icon" [class.active]="activeSortingPattern === 'type' && activeSortingDirection === 'desc'" aria-hidden="true"></i>
        </span>
      </th>
      <th class="col col-head last-edited" *ngIf="displayMode === 'full'">
        <span [title]="'COMPONENTS.SORTING.SORTBYSUBJECT' | translate : { subject: ('COMPONENTS.SORTING.SUBJECTS.LASTOPENED' | translate).toLowerCase() }" (click)="changeSortingPattern('last-edited')" class="label">{{'COMPONENTS.SORTING.LASTOPENED' | translate}}</span>
        <span class="sort-group">
          <i (click)="changeDirection('asc', 'last-edited')" [title]="'COMPONENTS.SORTING.SORTASCENDING' | translate" class="fas fa-caret-up sort-icon" [class.active]="activeSortingPattern === 'last-edited' && activeSortingDirection === 'asc'" aria-hidden="true"></i>
          <i (click)="changeDirection('desc', 'last-edited')" [title]="'COMPONENTS.SORTING.SORTDESCENDING' | translate" class="fas fa-caret-down sort-icon" [class.active]="activeSortingPattern === 'last-edited' && activeSortingDirection === 'desc'" aria-hidden="true"></i>
        </span>
      </th>
    </tr>
  </thead>
  <tbody class="body">
    <ng-container *ngIf="{documents: documentsList$ | async, folders: foldersList$ | async} as data">

      <!-- SEARCH SPECIFIC - HEADER AND FOLDERS -->
      <ng-container *ngIf="searchQuery$">
        <!-- SEARCH: FOLDERS -->
        <ng-container *ngIf="data.folders && data.folders.length > 0">
          <tr class="row row-title" *ngIf="true || searchQuery$">
            <td class="col col-body title">Folders</td>
          </tr>
          <!-- ALWAYS RENDER DOCUMENTS -->
          <tr class="row" *ngFor="let folder of data.folders">
            <td class="col col-folder name" (click)="folderClick($event, folder.id)">
              <i class="icon icon-fa fas fa-folder" aria-hidden="true"></i>
              <span class="trace" *ngIf="folder.pathTrace && folder.pathTrace !== ''">{{folder.pathTrace}}</span>
              <span class="label">{{folder.title}}</span>
            </td> 
          </tr>
        </ng-container>
        <!-- /SEARCH: FOLDERS -->
        <!-- SEARCH: DOCUMENTS -->
        <tr class="row row-title" *ngIf="true || searchQuery$">
          <td class="col col-body title">Documents</td>
        </tr>
        <!-- /SEARCH: DOCUMENTS -->
      </ng-container>
      <!-- SEARCH: DOCUMENTS -->
      
      <!-- ALWAYS RENDER DOCUMENTS -->
      <tr class="row" *ngFor="let document of data.documents" [class.active]="editorContext && editorContext.id == document.id">
        <td class="col col-body controls">
          <label class="user-input-object">
            <span class="user-input-grp">
              <input class="user-input-controller checkbox" [(ngModel)]="documentListSelection[document.id]" (change)="onDocumentSelect($event, document.id)" type="checkbox" />
              <span [title]="'GENERAL.SELECT' | translate" class="user-input-controller-placeholder checkbox">
                <i class="fas fa-check" aria-hidden="true"></i>
              </span>
            </span>
          </label>
        </td>
        <td class="col col-body name" (click)="isEditorEnabled ? documentClick(document) : null">
          <img class="icon" [src]="documentService.getIconForDocumentType(document.type, true)" aria-hidden="true">
          <span class="trace" *ngIf="document.pathTrace && document.pathTrace !== ''">{{document.pathTrace}}</span>
          <span class="label">{{document.title}}</span> 
        </td>
        <td class="col col-body type" (click)="isEditorEnabled ? documentClick(document) : null"><span class="label">*.{{document.type}}</span></td>
        <td class="col col-body last-edited" *ngIf="displayMode === 'full'" (click)="isEditorEnabled ? documentClick(document) : null"><span class="label">{{document.lastEditedOn | lastEditedOn}}</span></td>
      </tr>
      
    </ng-container>
  </tbody>
</table>
<!-- /Table -->

<!-- Editor -->
<section class="editor" *ngIf="isEditorVisible">
  <header class="header">
    <span class="sidebar-title">{{ editorContext.title }}</span>
    <i class="fa fa-times close-interface" [title]="'GENERAL.CLOSE' | translate" (click)="hideEditInterface()"></i>
  </header>
  <section class="inner">
    <!-- RENAME -->
    <label class="folder-new-input-object user-input-object">
      <span class="user-input-label">{{'COMPONENTS.DOCUMENTLIST.RENAMEDOCUMENT' | translate}}</span>
      <span class="user-input-grp">
        <span
          (click)="onDocumentUpdate()"
          [title]="'GENERAL.SAVECHANGES' | translate"
          class="user-input-icon after clickable">
          <i class="fa fa-check" aria-hidden="true"></i>
        </span>
        <span [title]="'GENERAL.CANCEL' | translate" (click)="resetEditorTextInput('title')" class="user-input-icon after second clickable">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
        <input class="user-input-controller input" type="text" (keyup.enter)="onDocumentUpdate()" [placeholder]="'COMPONENTS.DOCUMENTLIST.DOCUMENTNAME' | translate" [(ngModel)]="editorNameInput" (keyup.enter)="onDocumentUpdate()" />
      </span>
    </label>
    <!-- /RENAME -->

    <!-- DESCRIPTION -->
    <label class="user-input-object">
      <span class="user-input-label">
        {{'COMPONENTS.DOCUMENTLIST.CHANGEDESCRIPTION' | translate}}
        <span
          (click)="onDocumentUpdate()"
          [title]="'GENERAL.SAVECHANGES' | translate"
          class="user-input-icon head-icon after clickable">
          <i class="fa fa-check" aria-hidden="true"></i>
        </span>
        <span [title]="'GENERAL.CANCEL' | translate" (click)="resetEditorTextInput('description')" class="user-input-icon head-icon after second clickable">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </span>
      <span class="user-input-grp">
        <textarea class="user-input-controller textarea" [(ngModel)]="editorDescriptionInput" [placeholder]="'COMPONENTS.DOCUMENTLIST.CHANGEDESCRIPTION' | translate"></textarea>
      </span>
    </label>
    <!-- /DESCRIPTION -->

    <!-- MOVE -->
    <label class="folder-new-input-object user-input-object">
      <sf-folder-selector (on-save)="onDocumentMove($event)" [remove-match]="false" [entry]="folderService.getFolderById(editorContext.folderId)"></sf-folder-selector>
    </label>
    <!-- /MOVE-->

    <!-- REMOVE -->
    <label class="folder-new-input-object user-input-object">
      <span class="user-input-grp">
        <button (click)="onDocumentRemove()" class="regular danger" style="width: 100%;">{{'COMPONENTS.DOCUMENTLIST.REMOVEDOCUMENT' | translate}}</button>
      </span>
      <span class="user-input-comment"> 
        {{'WARNINGS.REMOVEDOCUMENTWARNING' | translate}}
      </span>
    </label>
    <!-- /REMOVE-->

  </section>
  <section *ngIf="editorIsWorking" class="indicator">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </section>
</section>
<!-- /Editor -->