<section class="list">
  <header class="header" *ngIf="isListEnabled">
    <span class="sidebar-title">{{ 'COMPONENTS.SIDEBAR.HEADER' | translate }}</span>
  </header>
  <section class="inner">
    <ng-container *ngIf="isListEnabled && { activeDirectory: activeDirectoryReference$ | async } as data">
      <section class="folder-list">
        <ng-container *ngFor="let folder of folderService.folders$ | async">
          <sf-folder
            [show-folder-settings]="isEditorEnabled"
            [active-selection-reference]="activeSelectionReference$"
            [active-directory-reference]="activeDirectoryReference$"
            (on-open)="onFolderOpen($event)"
            (on-edit-open)="onEditSidebarOpen($event)"
            (on-create-open)="onCreateSidebarOpen($event)"
            [active]="data.activeDirectory == folder.id"
            [data]="folder"
          ></sf-folder>
        </ng-container>
      </section>  
    </ng-container>
    <header class="header">
      <span class="sidebar-title">{{ 'COMPONENTS.SIDEBAR.TOOLS.HEADER' | translate }}</span>
    </header>
    <section class="tools" *ngIf="{ activeSelection: activeSelectionReference$ | async} as data">
      <span class="current-selection">
        <ng-container [ngSwitch]="documentListSelectionTotal">
          <ng-container *ngSwitchCase="0">{{'COMPONENTS.ACTIVESELECTION.NODOCUMENTSSELECTED' | translate}}</ng-container>
          <ng-container *ngSwitchCase="1">{{'COMPONENTS.ACTIVESELECTION.ONEFILESELECTED' | translate}}</ng-container>
          <ng-container *ngSwitchCase="2">{{'COMPONENTS.ACTIVESELECTION.TWOFILESSELECTED' | translate}}</ng-container>
          <ng-container *ngSwitchDefault>{{'COMPONENTS.ACTIVESELECTION.XFILESSELECTED' | translate : { x: documentListSelectionTotal } }}</ng-container>
        </ng-container>
      </span>
      <span class="action" *ngIf="documentListSelectionTotal > 0">
        <button class="light outline button" (click)="onDocumentDeselectAll($event, true)"> 
          {{'COMPONENTS.ACTIVESELECTION.DESELECTALL' | translate}}
          <i class="fa fa-times icon" aria-hidden="true"></i>
        </button>
        <button *ngIf="isBulkRemoveEnabled" class="danger button" (click)="onDocumentRemoveAll($event)">
          {{'COMPONENTS.ACTIVESELECTION.REMOVEALL' | translate}}
          <i class="fa fa-trash icon" aria-hidden="true"></i>
        </button>
      </span>
    </section>
  </section>
</section>
<section class="editor" *ngIf="showEditor">
  <header class="header">
    <ng-container *ngIf="editorController === 'edit'">
      <span class="sidebar-title">{{ editorContext.title }}</span>
    </ng-container>
    <ng-container *ngIf="editorController === 'create'">
      <span class="sidebar-title">{{ 'COMPONENTS.SIDEBAR.CREATEFOLDER' | translate : { parent: editorContext.title } }}</span>
    </ng-container>
    <i class="fa fa-times close-interface" [title]="'GENERAL.CLOSE' | translate" (click)="closeInterface()"></i>
 </header>
 <section class="inner">

  <!-- Edit folder -->
  <ng-container *ngIf="editorController === 'edit'">

    <!-- RENAME -->
    <label *ngIf="editorContext.isEditable" class="folder-new-input-object user-input-object">
      <span class="user-input-label">{{'COMPONENTS.SIDEBAR.RENAMEFOLDER' | translate}}</span>
      <span class="user-input-grp">
        <span
          (click)="onFolderRename()"
          [title]="'GENERAL.SAVECHANGES' | translate"
          class="user-input-icon after clickable">
          <i class="fa fa-check" aria-hidden="true"></i>
        </span>
        <span [title]="'GENERAL.CANCEL' | translate" (click)="closeInterface()" class="user-input-icon after second clickable">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
        <input class="user-input-controller input" type="text" [placeholder]="'COMPONENTS.SIDEBAR.FOLDERNAME' | translate" [value]="editorContext.title" [(ngModel)]="textInput" (keyup.enter)="onFolderRename()" />
      </span>
    </label>
    <!-- /RENAME -->

    <!-- MOVE -->
    <label *ngIf="editorContext.isMoveable" class="folder-new-input-object user-input-object">
      <sf-folder-selector (on-save)="onFolderMove($event)" [show-match-parent]="true" [entry]="editorContext"></sf-folder-selector>
    </label>
    <!-- /MOVE-->

    <!-- REMOVE -->
    <label *ngIf="editorContext.isDeleteable" class="folder-new-input-object user-input-object">
      <span class="user-input-grp">
        <button (click)="onFolderRemove()" class="regular danger" style="width: 100%;">{{'COMPONENTS.SIDEBAR.REMOVEFOLDER' | translate}}</button>
      </span>
      <span class="user-input-comment"> 
        {{'WARNINGS.REMOVEFOLDERWARNING' | translate}}
      </span>
    </label>
    <!-- /REMOVE-->

  </ng-container>
  <!-- /Edit folder -->

  <!-- Create new folder -->
  <ng-container *ngIf="editorController === 'create'">
    <label class="folder-new-input-object user-input-object">
      <span class="user-input-label">{{'COMPONENTS.SIDEBAR.CREATEFOLDER' | translate}}</span>
      <span class="user-input-grp">
        <span
          (click)="onCreateFolder()"
          [title]="'GENERAL.CREATENEWFOLDER' | translate"
          class="user-input-icon after clickable">
          <i class="fa fa-check" aria-hidden="true"></i>
        </span>
        <span [title]="'GENERAL.CANCEL' | translate" (click)="closeInterface()" class="user-input-icon after second clickable">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
        <input class="user-input-controller input" type="text" [placeholder]="'COMPONENTS.SIDEBAR.FOLDERNAME' | translate" [(ngModel)]="textInput" (keyup.enter)="onCreateFolder()" />
      </span>
    </label>
  </ng-container>
  <!-- /Create nw folder -->

  </section>
</section>