:host {
  
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  background: var(--colour-toolbar-light);
  overflow: hidden;
  border-right: 1px solid var(--colour-toolbar-regular);
  flex-basis: 320px;  

  .list,
  .editor {

    flex: 0 0 100%;
    height: 100%;

  }

  .editor {

    border-left: 1px solid var(--colour-toolbar-regular);
    background: #fff;

  }

  /** Inner scroll wrapper */
  .inner {

    display: block;
    width: 100%;
    height: calc(100% - 42px);
    overflow: hidden auto; 

    &::-webkit-scrollbar {
      width: 5px;
    }
    
    &::-webkit-scrollbar-track {
      background: #ddd;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #666; 
    }

  }

  .editor .inner {

    box-sizing: border-box;
    padding: 0 12px;

    .user-input-icon.after {

      width: 19px;
      right: 10px;
  
      &.second {
  
        right: 34px;
  
      }
  
    }     
  
    .user-input-label {
  
      font-weight: var(--font-weight-bold);
      margin-bottom: 8px;
      font-size: 12px;
  
    }
  
    .user-input-comment {
  
      color: #2f2f2f;
  
    }

  }

  .header {

    flex-flow: row nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    padding: 0 12px;
    background: var(--colour-toolbar-light);
    border-bottom: 1px solid var(--colour-toolbar-regular);

    .close-interface {

      color: #bbb;
      font-size: 13px;
      transition: 300ms;

      &:hover {
        cursor: pointer;
        color: var(--colour-toolbar-dark);
      }

    }

    .sidebar-title {

      line-height: 42px;
      color: var(--colour-toolbar-dark);
      font-size: 11px;
      text-transform: uppercase;

    }

    .sidebar-add {

      font-size: 13px;
      color: var(--colour-toolbar-dark);
      transition: 300ms;

      &:hover {

        cursor: pointer;
        color: rgb(49, 49, 49);

      }

    }

  }

  .folder-list {

    display: block;
    width: 100%;  

  }

  /** Edit folder interface */
  .edit-folder {

    display: block;
    position: absolute;
    background: red;
    width: 100%;
    height: 100%;
    top: 0; left: 0;

  }

}
:host {
  .tools {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 12px;

    .current-selection,
    .action {
      display: block; 
      width: 100%;
    }

    .current-selection {

      width: 100%;
      display: block;
      font-size: 13px;
      font-family: var(--font-primary);
      font-weight: var(--font-weight-regular);
      color: var(--colour-text);

      padding: 16px 0;

    }

    .action {

      .button {

        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

      }

    }

  }
}
:host(.expanded) {

  flex-basis: 640px;

  .list,
  .editor {
  
    flex: 0 0 50%;
    max-width: 70%;    

  }

} 