:host {

  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0; left: 0;

  .content {

    position: relative;
    z-index: 1;
    width: 100%;
    min-width: 1024px;
    min-height: 65vh;
    max-height: calc(65vh + 92px);
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    border-radius: 6px;

    .header {

      display: flex;
      flex-flow: row wrap;
      width: 100%;
      box-sizing: border-box;
      padding: 18px 28px;
      border-bottom: 1px solid #E4E4E4;

      .title-subtitle {

        flex: 1 0 auto;

        .title {
          margin: 0;
          font-weight: bold;
          font-size: 26px;
          line-height: 26px;
          color: #000000;

          &.singleton {

            margin: 14.5px 0;

          }

        }
        .subtitle {

          font-size: 17px;
          line-height: 21px;
          font-weight: 300;
          color: #A1A1A1;
          margin: 8px 0 0;

          &.singleton {

            margin-top: 0;

          }
        }

      }
      .close {

        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0 0 32px;

        i {

          color: #A1A1A1;
          font-size: 21px;
          transition: 300ms   ;

          &:hover {
    
            cursor: pointer;
            color: #777777;
    
          }

        }

      }

    }

    .inner-content {

      width: 100%;
      height: 65vh;

      &.scrollable {

        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 5px;
        }
        
        &::-webkit-scrollbar-track {
          background: #ddd;
        }
        
        &::-webkit-scrollbar-thumb {
          background: #666; 
        }

      }

    }
    
  }

  .backdrop {

    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: .65;

  }

}
:host(.small) {
  .content {
    max-width: 40%;
  }
}
:host(.regular) {
  .content {
    max-width: 60%;
  }
}
:host(.large) {
  .content {
    max-width: 70%;
  }
}