:host {

  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0; left: 0;

  .content {

    display: block;
    position: relative;
    z-index: 2;
    background: #fff;
    border-radius: 4px;
    width: 420px;
    overflow: hidden;

    .header,
    .footer,
    .main {

      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 0 16px;

    }

    .header,
    .footer {

      border-color: var(--colour-toolbar-regular);
      border-style: solid;

    }

    .header {

      position: relative;
      border-width: 0 0 1px 0;

      line-height: 42px;
      font-size: 15px;
      font-weight: var(--font-weight-bold);

      .close {

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        font-size: 17px;
        color: var(--colour-toolbar-dark);
        transition: 300ms;

        &:hover {

          cursor: pointer;
          color: var(--colour-primary)

        }

      }

    }

    .footer {

      border-width: 1px 0 0 0;
      padding-top: 6px;
      padding-bottom: 6px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;

      .button:not(:last-of-type) {

        margin-right: 6px;

      }

    }

    .main {

      padding-top: 18px;
      padding-bottom: 18px;
      color: var(--colour-text);
      font-size: 14px;
      line-height: 18px;

    }

  }

  .backdrop {

    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: .65;

  }

}