:host {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--colour-toolbar-light);
  width: 100%;
  height: 100%;

  .tools {

    display: block;
    height: 32px;
    position: absolute;
    top: 8px;
    right: 8px;
    text-align: right;

    .btn {

      display: inline-flex;
      width: 32px;
      height: 32px;
      align-items: center;
      justify-content: center;
      margin: 0 4px;
      border-radius: 50%;
      background: var(--colour-toolbar-regular);
      color: var(--colour-toolbar-dark);
      transition: 300ms;

      &:hover {

        cursor: pointer;
        background: var(--colour-primary);
        color: #fff;

      }

    }

  }

  .wrapper {

    display: block;
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    background: #fff;
    border-radius: var(--corner-radius-medium);

    .header,
    .content {

      display: block;
      width: 100%;
      float: left;

    }

    .header {

      display: flex;
      flex-flow: row nowrap;
      border-bottom: 1px solid var(--colour-toolbar-light);

      .tab {

        display: block;
        flex: 0 0 50%;
        text-align: center;
        height: 55px;
        line-height: 55px;
        font-family: var(--font-primary);
        font-weight: var(--font-weight-regular);
        font-size: 14px;
        color: var(--colour-text);

        box-sizing: border-box;

        &.active {

          font-weight: bold;
          border-bottom: 2px solid var(--colour-primary);

        }

        &:first-child {

          border-right: 1px solid #f3f3f3;

        }

        &:hover {
          cursor: pointer;
        }

      }

    }

    .content {

      box-sizing: border-box;
      padding: 18px 16px;

      h2 {

        font-family: var(--font-primary);
        font-size: 26px;
        font-weight: var(--font-weight-bold);
        margin: 0 0 6px; 

      }

      .submit,
      .link {

        width: 100%;
        margin-top: 8px;

      }

      .form-login {

        /*
        .submit {

          display: block;
          float: left;
          width: 50%;

        }
        */

        .link {

          display: flex;
          float: left;
          width: 50%;
          height: var(--button-large-size-vertical);
          font-family: var(--font-primary);
          font-weight: var(--font-weight-regular);
          font-size: 12px;
          text-decoration: underline;
          color: var(--colour-links);

          align-items: center;

          span {
            &:hover  {
              cursor: pointer;
            }
          }

        }

      }

    }

  }

  .error-message {

    display: block;
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    color: var(--colour-danger-contrast);
    background: var(--colour-danger);
    box-sizing: border-box;
    padding: 16px 12px;
    margin-bottom: 16px;
    border-radius: var(--corner-radius-large);

  }

  .loading-indicator {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180px;
    
    i {

      color: var(--colour-toolbar-dark);
      font-size: 22px;

    }

  }

}