<section class="tools">
  <span [title]="'SETTINGS.TITLE' | translate" class="btn" (click)="openSettings()">
    <i class="fas fa-cog" aria-hidden="true"></i>
  </span>
  <span [title]="'INFO.TITLE' | translate" class="btn" (click)="openInfo()">
    <i class="fas fa-info" aria-hidden="true"></i>
  </span>
</section>
<section class="wrapper">
  <header class="header" *ngIf="!showIndicator">
    <span class="tab" (click)="changeTab('login')" [class.active]="activeTab == 'login'">{{ 'COMPONENTS.LOGIN.TAB' | translate }}</span>
    <span class="tab" (click)="changeTab('create-user')" [class.active]="activeTab == 'create-user'">{{ 'COMPONENTS.CREATEUSER.TAB' | translate }}</span>
  </header>
  <div class="content">

    <ng-container *ngIf="error">

      <span class="error-message">

        {{error}}
        
      </span>

    </ng-container>

    <ng-container *ngIf="!error && showIndicator">

      <section class="loading-indicator">

        <i class="fas fa-spinner fa-pulse"></i>

      </section>

    </ng-container>

    <ng-container *ngIf="!showIndicator">

      <!-- Headlines -->
      <h2 *ngIf="activeTab == 'login'">{{ 'COMPONENTS.LOGIN.TITLE'  | translate }}</h2>
      <h2 *ngIf="activeTab == 'create-user'">{{ 'COMPONENTS.CREATEUSER.TITLE'  | translate }}</h2>
      <h2 *ngIf="activeTab == 'reset-password'">{{ 'COMPONENTS.RESETPASSWORD.TITLE'  | translate }}</h2>

      <!-- Forms -->
      <form class="form-login" [formGroup]="loginFormGroup" (ngSubmit)="loginFormGroup.valid && onSubmit('login')" *ngIf="activeTab == 'login'">
        <label class="user-input-object">
          <span class="user-input-grp">
            <input class="user-input-controller" type="text" formControlName="username" [placeholder]="'GENERAL.USERNAME' | translate" />
          </span>
        </label>
        <label class="user-input-object">
          <span class="user-input-grp">
            <input class="user-input-controller" type="password" formControlName="password" [placeholder]="'GENERAL.PASSWORD' | translate" />
          </span>
        </label>
        <div class="link" *ngIf="false"><span (click)="changeTab('reset-password')">{{ 'COMPONENTS.RESETPASSWORD.FORGOTTENPASSWORD' | translate }}</span></div>
        <button class="submit large primary">{{ 'COMPONENTS.LOGIN.BUTTON' | translate }}</button>
      </form> 
      <form class="form-create-user" [formGroup]="createUserFormGroup" (ngSubmit)="createUserFormGroup.valid && onSubmit('create-user')" *ngIf="activeTab == 'create-user'">
        <label class="user-input-object">
          <span class="user-input-grp">
            <input class="user-input-controller" type="text" formControlName="username" [placeholder]="'GENERAL.USERNAME' | translate" />
            <ng-container *ngIf="createUserFormGroup.controls.username.invalid && createUserFormGroup.controls.username.touched">
              <span class="user-input-error" *ngFor="let error of keys(createUserFormGroup.controls.username.errors)">
                <ng-container [ngSwitch]="error">
                  <ng-container *ngSwitchCase="'minlength'">{{'VALIDATORS.LENGTH' | translate : { x: 3 } }}</ng-container>
                  <ng-container *ngSwitchCase="'required'">{{'VALIDATORS.REQUIRED' | translate}}</ng-container>
                  <ng-container *ngSwitchCase="'pattern'">{{'VALIDATORS.USERNAME' | translate}}</ng-container>
                </ng-container>
              </span>
            </ng-container>
          </span>
        </label>
        <label class="user-input-object">
          <span class="user-input-grp">
            <span (click)="onPasswordTypeToggle($event)" class="user-input-icon after clickable"><i class="fas" [class.fa-eye-slash]="!passwordIsPlain" [class.fa-eye]="passwordIsPlain" aria-hidden="true"></i></span>
            <input class="user-input-controller" [type]="passwordIsPlain ? 'text' : 'password'" formControlName="password" [placeholder]="'GENERAL.PASSWORD' | translate" />
            <ng-container *ngIf="createUserFormGroup.controls.password.invalid && createUserFormGroup.controls.password.touched">
              <span class="user-input-error" *ngFor="let error of keys(createUserFormGroup.controls.password.errors)">
                <ng-container [ngSwitch]="error">
                  <ng-container *ngSwitchCase="'minlength'">{{'VALIDATORS.LENGTH' | translate : { x: 6 } }}</ng-container>
                  <ng-container *ngSwitchCase="'required'">{{'VALIDATORS.REQUIRED' | translate}}</ng-container>
                </ng-container>
              </span>
            </ng-container>
          </span>
        </label>
        <label class="user-input-object">
          <span class="user-input-grp">
            <input class="user-input-controller" type="email" formControlName="email" [placeholder]="'GENERAL.EMAIL' | translate" />
            <ng-container *ngIf="createUserFormGroup.controls.email.invalid && createUserFormGroup.controls.email.touched">
              <span class="user-input-error" *ngFor="let error of keys(createUserFormGroup.controls.email.errors)">
                <ng-container [ngSwitch]="error">
                  <ng-container *ngSwitchCase="'required'">{{'VALIDATORS.REQUIRED' | translate}}</ng-container>
                  <ng-container *ngSwitchCase="'email'">{{'VALIDATORS.EMAIL' | translate}}</ng-container>
                </ng-container>
              </span>
            </ng-container>
          </span>
        </label>
        <label class="user-input-object">
          <span class="user-input-grp">
            <input class="user-input-controller" type="text" formControlName="displayName" [placeholder]="'GENERAL.DISPLAYNAME' | translate" />
            <ng-container *ngIf="createUserFormGroup.controls.displayName.invalid && createUserFormGroup.controls.displayName.touched">
              <span class="user-input-error" *ngFor="let error of keys(createUserFormGroup.controls.displayName.errors)">
                <ng-container [ngSwitch]="error">
                  <ng-container *ngSwitchCase="'minlength'">{{'VALIDATORS.LENGTH' | translate : { x: 3 } }}</ng-container>
                  <ng-container *ngSwitchCase="'required'">{{'VALIDATORS.REQUIRED' | translate}}</ng-container>
                </ng-container>
              </span>
            </ng-container>
          </span>
        </label>
        <button class="submit large primary">{{ 'COMPONENTS.CREATEUSER.BUTTON' | translate }}</button>
      </form>
      <form class="form-reset-password" [formGroup]="resetPasswordFormGroup" (ngSubmit)="resetPasswordFormGroup.valid && onSubmit('reset-password')" *ngIf="activeTab == 'reset-password'">
        <label class="user-input-object">
          <span class="user-input-grp">
            <input class="user-input-controller" type="text" formControlName="username" [placeholder]="'GENERAL.USERNAME' | translate" />
          </span>
        </label>
        <label class="user-input-object">
          <span class="user-input-grp">
            <input class="user-input-controller" type="email" formControlName="email" [placeholder]="'GENERAL.EMAIL' | translate" />
          </span>
        </label>
        <button class="submit large primary">{{ 'COMPONENTS.RESETPASSWORD.BUTTON' | translate }}</button>
      </form>

    </ng-container>

  </div>
</section>