<section class="controls">
  <span class="modal-link">
    <button disabled (click)="openFiltersInterface()" [title]="'COMPONENTS.FILTERS.MANAGEFILTERS' | translate" class="small outline">
      <i class="fa fa-filter icon" aria-hidden="true"></i>
      <span class="title">{{ 'COMPONENTS.FILTERS.BUTTON' | translate }}</span>
    </button>
  </span>
</section>
<section class="active-filters">
  <article class="filter" *ngIf="false">
    <span class="title">Customer: FiftyTwo</span>
    <i [title]="'COMPONENTS.FILTERS.REMOVEFILTER' | translate" class="fa fa-times remove"></i>
  </article>
</section>
<section class="export-import">
  <button (click)="openExportInterface()" [title]="'COMPONENTS.FILTERS.EXPORTFILES' | translate" class="small outline">
    <i class="fa fa-file-export icon" aria-hidden="true"></i>
    <span class="title">{{ 'COMPONENTS.FILTERS.EXPORT' | translate }}</span>
  </button>
  <button (click)="openImportInterface()" [title]="'COMPONENTS.FILTERS.IMPORTFILES' | translate" class="small outline">
    <i class="fa fa-file-import icon" aria-hidden="true"></i>
    <span class="title">{{ 'COMPONENTS.FILTERS.IMPORT' | translate }}</span>
  </button>
</section>