:host {

  justify-content: space-between;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  min-height: 42px;
  padding: 0 12px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--colour-toolbar-regular);
  background: #fff;

  .controls {

    display: flex;
    align-items: center;
    flex: 0 0 auto;
    padding: 0 17px 0 0;
    position: relative;

    &:after {

      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 18px;
      background: var(--colour-toolbar-regular);
      top: 50%;
      transform: translateY(-50%);
      right: 0;

    }

    .modal-link {

      button {

        height: 32px;
        line-height: 32px;
        padding: 0 8px;

        .icon {
          margin-right: 8px;
          color: rgb(143, 143, 143);
        } 

      }

    }

  }

  .active-filters {

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex: 2 0 auto;
    max-width: calc(100% - 265px);
    box-sizing: border-box;
    padding: 0 0 0 16px;

    .filter {

      display: flex;
      align-items: center;
      height: 32px;
      padding: 0 12px;
      background: #F8F8F8;
      border: 1px solid #E8E8E8;
      margin: 3px 6px 3px 0;
      border-radius: 4px;

      .title {

        color: #000000;
        font-size: 12px; 

      }
      .remove {
        
        color: rgb(202, 202, 202);
        transition: 300ms;
        margin-left: 10px;

        &:hover {
          cursor: pointer;
          color: var(--colour-danger);
        }

      }

    }

  }

  .export-import {

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 0 0 0 8px;

    button {

      margin-left: 8px;
      height: 32px;
      line-height: 32px;
      padding: 0 8px;

      .icon {
        margin-right: 8px;
        color: rgb(143, 143, 143);
      } 

    }

  }

}