:host {

  --icon-color: #4c4c4c;
  --icon-size: 16px;
  --color-active: rgb(230, 235, 255);
  --color-open: #fff;
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--colour-toolbar-regular);

}
:host {  

  display: block;
  width: 100%;

  .info {

    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    background: var(--colour-sidebar-light);
    transition: 300ms;
    padding: 2px 12px 2px calc(12px * var(--offset-multiplier));
    box-sizing: border-box;
    border-bottom-color: var(--border-color);
    border-bottom-style: var(--border-style);
    border-bottom-width: var(--border-width);
    overflow-x: hidden;
    
    .label {

      flex: 0 0 calc(100% - 32px);
      font-size: 13px;

      &:hover {
        cursor: pointer;
      }
  
    }

    .icon {

      position: relative;
      display: flex;
      flex: 0 0 32px;
      min-height: 37px;
      align-items: center;

      &-l {

        width: 100%;
        height: 25px;
        display: flex;  
        align-items: center;
        justify-content: flex-start;
        color: var(--icon-color);
        font-size: var(--icon-size);

        &:hover {
          cursor: pointer;
        }

      }

      &.has-selected-content {

        &::before {

          content: '';
          display: block;
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: var(--colour-primary-highlight-2);
          top: 9px;
          left: -4px;

        }

      }

    } 

    .tools {

      display: block;
      position: absolute;
      top: 9px;
      right: 0;
      padding: 4px 6px;
      font-size: 12px;
      line-height: 16px;
      background: var(--colour-toolbar-regular);  
      border-radius: 4px;
      color: var(--colour-toolbar-dark);
      transition: 300ms;
      transform: translateX(100%);

      i:nth-child(2) {

        margin-left: 6px;

      }

      i:hover {

        color: var(--colour-primary);
        cursor: pointer;

      }

    }

    &:hover .tools {

      transform: translateX(-7px);

    }

  }

}
:host(.sub-folder) {
  
  background: var(--color-open);
  
}
:host(.active) {

  > .info {

    background: var(--color-active);

  }

}