<!-- Info -->
<section class="info">
  <span class="icon" [title]="(isOpen ? 'FOLDER.COLLAPSE' : 'FOLDER.EXPAND') | translate" [class.has-selected-content]="hasSelectedContent">
    <i [class]="iconClass" (click)="toggleSubmenu()"></i>
  </span>
  <span class="label" (click)="onFolderOpen()">{{folder.title}}</span>
  <span class="tools" *ngIf="isFolderSettingsVisible">
    <i (click)="showCreateFolderInterface(folder)" [title]="'GENERAL.CREATENEWFOLDER' | translate" class="fa fa-plus tool" aria-hidden="true"></i>
    <i *ngIf="folder.isDeleteable || folder.isEditable || folder.isMoveable" (click)="showEditFolderInterface(folder)" [title]="'GENERAL.EDITFOLDER' | translate" class="fa fa-cog  tool" aria-hidden="true"></i>
  </span>
</section>
<!-- Info -->

<!-- Subfolders -->
<ng-container *ngIf="{ activeDirectory: activeDirectoryReference$ | async } as data">
  <section class="children" *ngIf="folder.subfolders && folder.subfolders.length > 0 && isOpen">
    <sf-folder
      *ngFor="let subfolder of folder.subfolders"
      (on-open)="onChildFolderOpen($event)"
      (on-edit-open)="onEditInterfaceOpen.emit($event)"
      (on-create-open)="onCreateInterfaceOpen.emit($event)"
      [active]="data.activeDirectory === subfolder.id"
      [active-directory-reference]="activeDirectoryReference$"
      [active-selection-reference]="activeSelectionReference$"
      [data]="subfolder"
      [multiplier]="multiplier + 1"
      [folder-icon]="folderIcon"
      [folder-icon-open]="folderIconOpen"
      [show-folder-settings]="isFolderSettingsVisible"
      [bypass-saved-state]="isSavedStateBypassed"
    ></sf-folder>
  </section>
</ng-container>
<!-- Subfolders -->