:host {

  display: block;
  width: 100%;
  height: 100%;

  .inner-content {

    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

  }

  .inner-content.step-01 {

    padding: 32px;

    .file-selection {

      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;

      border-radius: 4px;
      border: 2px dashed #E4E4E4;

      &:hover {

        cursor: pointer;

      }

      &-icon {

        display: block;
        color: #E4E4E4;
        font-size: 105px;
  
      }
  
      &-label {
  
        display: block;
        width: 100%;
        text-align: center;
        font-size: 18px;
        color: #000;
        margin-top: 32px;
  
      }
  
      &-controller {
  
        display: none;
  
      }

    }

  }
  
  .inner-content.step-02 {

    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    padding: 32px 0 0;

    .controls {

      flex: 0 0 24px;
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0 32px;

      .total-files,
      .file-selector {

        display: block;

      }

      .total-files {

        font-size: 12px;
        color: #000;  

      }

      .file-selector {

        display: flex;
        align-items: center;

        .info {

          font-size: 12px;
          color: #000;
          margin-right: 16px;

        }

        .control {

          font-size: 20px;
          transition: 300ms;
          color: #A1A1A1;
    
          &:hover {
    
            cursor: pointer;
            color: #777777;
    
          }

          &.previous {

            margin-right: 12px;

          }

          &.disabled {

            &,&:hover {
              color: #e0e0e0;
            }
    
          }

        }

      }

    }

    .section {

      display: block;
      float: left;  
      width: 100%;

      &-headline {

        margin: 0 0 6px 0;
        font-size: 16px;
        line-height: 16px;
        font-size: var(--font-primary);
        font-weight: var(--font-weight-bold);
        color: #000;

      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }

    }

    .file-config {

      flex: 1 2 auto;
      display: block;
      width: 100%;
      overflow-y: scroll;
      box-sizing: border-box;

      &::-webkit-scrollbar {
        width: 5px;
      }
      
      &::-webkit-scrollbar-track {
        background: #ddd;
      }
      
      &::-webkit-scrollbar-thumb {
        background: #666; 
      }

      & .inner-wrapper {

        width: 100%;
        float: left;
        padding: 8px 32px 16px; 
        box-sizing: border-box;

      }

    } 

    .document-title {

      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 18px 0 32px 0 !important;

      .document-title {
        &-icon,
        &-label {
          display: block;
        }
        &-icon {
          flex: 0 0 26px;
          width: 26px;
          height: auto;
        }
        &-label, 
        &-input {
          flex: 1 1 auto;
          color: #000;
          font-size: 25px; 
          font-family: var(--font-primary);
          font-weight: var(--font-weight-light);     
          line-height: 25px;
          box-sizing: border-box;
          padding: 0 0 0 12px;
        }
        &-label {

          display: flex;
          align-items: center;

          .edit-icon {

            color: var(--colour-toolbar-dark);
            font-size: 12px;
            margin-left: 8px;
            transition: 300ms;

            &:hover {

              cursor: pointer;
              color: var(--colour-primary);

            }

          }

        }
        &-input {
          outline: none;
          border: medium none;
          background: transparent;
        }
      }

    }

    .document-description {

      .user-input-object {

        margin-top: 6px;  

      }

    }

    .footer {

      flex: 0 0 60px;
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      border-top: 1px solid #E4E4E4;
      align-items: center;
      justify-content: flex-end;
      box-sizing: border-box;
      padding: 0 32px;

      .next-file {

        margin-left: 12px;

      }

    }

  }
 
  .inner-content.step-03,
  .inner-content.step-04 {

    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    .loading-icon {

      color: #bbb;
      font-size: 30px;

    }

    .success-icon {

      display: flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: var(--colour-primary);

      i {

        font-size: 46px;
        color: #fff;

      }

    }

    .label {

      width: 100%;
      display: block;
      margin-top: 32px;
      font-size: 18px;
      color: #000;
      text-align: center;

    }

  }

}