<ng-container [ngSwitch]="progress">

  <ng-container *ngSwitchCase="1">
    <div class="inner-content step-01">
      <label class="file-selection" [title]="'COMPONENTS.IMPORT.STEP1.CHOOSEORDRAGALT' | translate">
        <input class="file-selection-controller" (change)="onFileInputChanged($event)" type="file" [accept]="documentService.getAcceptedFilesListAsParameter()" multiple />
        <span class="file-selection-icon">
          <i class="fa fa-upload"></i>
        </span>
        <span class="file-selection-label" [innerHTML]="'COMPONENTS.IMPORT.STEP1.CHOOSEORDRAG' | translate"></span>
      </label>  
    </div>    
  </ng-container>

  <ng-container *ngSwitchCase="2">
    <div class="inner-content step-02">
      <header class="controls">
        <section class="total-files" [innerHTML]="'COMPONENTS.IMPORT.STEP2.XFILESSELECTED' | translate : { x : (queue.length)}"></section>
        <section class="file-selector">
          <span class="info" [innerHTML]="'COMPONENTS.IMPORT.STEP2.FILEXOFY' | translate : { x : (queuePointer + 1), y : (queue.length)}"></span>
          <span (click)="isPreviousFileAvailable() ? previousFile() : null" [title]="'COMPONENTS.IMPORT.STEP2.PREVIOUSFILE' | translate" class="control previous" [class.disabled]="!isPreviousFileAvailable()">
            <i class="fa fa-chevron-left"></i>
          </span>
          <span (click)="isNextFileAvailable() ? nextFile() : null" [title]="'COMPONENTS.IMPORT.STEP  2.NEXTFILE' | translate" class="control next" [class.disabled]="!isNextFileAvailable()">
            <i class="fa fa-chevron-right"></i>
          </span>
        </section>
      </header>
      <section class="file-config">
        <section class="inner-wrapper">
          <section class="section document-title">
            <img class="document-title-icon icon" [src]="documentService.getIconForDocumentType(queue[queuePointer].type, true)" aria-hidden="true">
            <span *ngIf="!isNameEditorEnabled" class="document-title-label">
              {{queue[queuePointer].name}}
              <i class="fa fa-edit edit-icon" (click)="isNameEditorEnabled = true" aria-hidden="true"></i>
            </span>
            <input *ngIf="isNameEditorEnabled" type="text" (keyup.enter)="isNameEditorEnabled = false" (blur)="isNameEditorEnabled = false" class="document-title-input" [(ngModel)]="queue[queuePointer].name" autofocus />
          </section>
          <section class="section">
            <h2 class="section-headline">{{'COMPONENTS.IMPORT.STEP2.REMOVEORIGINAL' | translate}}</h2>
            <label class="user-input-object">
              <span class="user-input-grp">
                <input [(ngModel)]="queue[queuePointer].removeOriginal" class="user-input-controller switch" type="checkbox" />
                <span class="user-input-controller-placeholder switch"></span>
                <span class="user-input-description">{{'COMPONENTS.IMPORT.STEP2.REMOVEORIGINALMSG' | translate}}</span>
              </span>
            </label>
          </section>
          <section class="section document-description">
            <h2 class="section-headline">{{'COMPONENTS.IMPORT.STEP2.FILEDESCRIPTION' | translate}}</h2>
            <label class="user-input-object">
              <span class="user-input-grp">
                <textarea class="user-input-controller textarea" [(ngModel)]="queue[queuePointer].description" [placeholder]="'COMPONENTS.IMPORT.STEP2.FILEDESCRIPTION' | translate"></textarea>
              </span>
            </label>
          </section>
          <section class="section folder-selection">
            <h2 class="section-headline">{{'COMPONENTS.IMPORT.STEP2.DESTINATIONFOLDER' | translate}}</h2>
            <sf-folder-selector (on-save)="onFolderSelect($event)" [remove-match]="false" [entry]="folderService.getFolderById(queue[queuePointer].directoryId)"></sf-folder-selector>
          </section>
        </section>
      </section>
      <footer class="footer">
        <button class="primary regular" [class.outline]="isNextFileAvailable()" (click)="startImport()" [title]="'COMPONENTS.IMPORT.STEP2.IMPORTFILES' | translate">{{'COMPONENTS.IMPORT.STEP2.IMPORTFILES' | translate}}</button>
        <button class="primary regular" *ngIf="isNextFileAvailable()" style="margin-left: 12px" (click)="nextFile()" [title]="'COMPONENTS.IMPORT.STEP2.NEXTFILE' | translate">{{'COMPONENTS.IMPORT.STEP2.NEXTFILE' | translate}}</button>
      </footer>   
    </div> 
  </ng-container>

  <ng-container *ngSwitchCase="3">
    <div class="inner-content step-03">
      <span class="loading-icon">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
      <span class="label" [innerHTML]="'COMPONENTS.IMPORT.STEP3.BODY' | translate"></span>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="4">
    <div class="inner-content step-04">
      <span class="success-icon">
        <i class="fa fa-check"></i>
      </span>
      <span class="label" [innerHTML]="'COMPONENTS.IMPORT.STEP4.BODY' | translate : { x : (queue.length) }"></span>
    </div>
  </ng-container>

</ng-container>