:host {

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;

  .container {

    width: 460px;
    text-align: center;

    .loading-indicator {

      i {

        color: var(--colour-toolbar-dark);
        font-size: 22px;
  
      }

    }

  }

}