<!-- Sidebar  -->
<sf-sidebar
  [active-selection-reference]="workspaceService.documentSelection$"
  [active-directory-reference]="workspaceService.activeDirectory$"
  (on-folder-open)="onSidebarFolderOpen($event)"
  (on-remove-all)="onSidebarRemoveSelectedDocuments()"
></sf-sidebar>
<!-- /Sidebar -->

<!-- Main -->
<sf-main>

  <!-- Filters -->
  <sf-filter-toolbar [document-selection-reference]="workspaceService.documentSelection$"></sf-filter-toolbar>
  <!-- /Filters -->

  <sf-document-list
    [active-directory-reference]="workspaceService.activeDirectory$"
    [document-selection-reference]="workspaceService.documentSelection$"
    [document-sorting-reference]="workspaceService.directorySorting$"
  ></sf-document-list>  
  
</sf-main>
<!-- /Main -->  
