:host {
  
  main {

    overflow: hidden;
    position: relative;
    width: 100%;
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
    
  }

  main,
  sf-sidebar {

    height: calc(100vh - var(--header-size)); 

  }

}
:host(.headless) {

  main,
  sf-sidebar {

    height: 100vh;

  }

}