<!-- App header -->
<sf-header *ngIf="displayHeader"></sf-header>
<!-- /App header -->

<!-- Outlet -->
<main>
  <router-outlet></router-outlet>
</main>
<!-- /Outlet -->

<!-- Modal and dialogs -->
<sf-dialog id="dialog-container"></sf-dialog>
<sf-modal id="modal-container"></sf-modal>
<!-- /Modal and dialogs -->