<section class="sort-select">
  #
</section>

<!-- DOCUMENT NAME -->
<section class="sort-param long active">
  <span class="sort-cta" [title]="'COMPONENTS.SORTING.SORTBYSUBJECT' | translate : { subject: ('COMPONENTS.SORTING.DOCUMENTNAME' | translate) }" (click)="sortByParam('')">
    <span class="title">{{ 'COMPONENTS.SORTING.DOCUMENTNAME' | translate }}</span>
    <span class="icon icon-group">
      <i [title]="'COMPONENTS.SORTING.SORTASCENDING' | translate" class="fa fa-caret-up sort-icon" aria-hidden="true"></i>
      <i [title]="'COMPONENTS.SORTING.SORTDESCENDING' | translate" class="fa fa-caret-down sort-icon active" aria-hidden="true"></i>
    </span>
  </span>
</section>
<!-- DOCUMENT NAME -->

<!-- DOCUMENT TYPE -->
<section class="sort-param">
  <span class="sort-cta" [title]="'COMPONENTS.SORTING.SORTBYSUBJECT' | translate : { subject: ('COMPONENTS.SORTING.DOCUMENTTYPE' | translate) }" (click)="sortByParam('')">
    <span class="title">{{ 'COMPONENTS.SORTING.DOCUMENTTYPE' | translate }}</span>
    <span class="icon icon-group"> 
      <i [title]="'COMPONENTS.SORTING.SORTASCENDING' | translate" class="fa fa-caret-up sort-icon" aria-hidden="true"></i>
      <i [title]="'COMPONENTS.SORTING.SORTDESCENDING' | translate" class="fa fa-caret-down sort-icon" aria-hidden="true"></i>
    </span>
  </span>
</section>
<!-- DOCUMENT TYPE -->

<!-- LAST OPENED -->
<section class="sort-param">
  <span class="sort-cta" [title]="'COMPONENTS.SORTING.SORTBYSUBJECT' | translate : { subject: ('COMPONENTS.SORTING.LASTOPENED' | translate) }" (click)="sortByParam('')">
    <span class="title">{{ 'COMPONENTS.SORTING.LASTOPENED' | translate }}</span>
    <span class="icon icon-group">
      <i [title]="'COMPONENTS.SORTING.SORTASCENDING' | translate" class="fa fa-caret-up sort-icon" aria-hidden="true"></i>
      <i [title]="'COMPONENTS.SORTING.SORTDESCENDING' | translate" class="fa fa-caret-down sort-icon" aria-hidden="true"></i>
    </span>
  </span>
</section>
<!-- LAST OPENED -->

<!-- CUSTOM PATTERN -->
<section class="sort-param">

  <!-- PATTERN EMPTY -->
  <span *ngIf="true" class="sort-cta" [title]="'COMPONENTS.SORTING.SORTBYSUBJECT' | translate : { subject: ('COMPONENTS.SORTING.CUSTOMPATTERN' | translate) }" (click)="sortByParam('')">
    <span class="title">{{ 'COMPONENTS.SORTING.CUSTOMPATTERN' | translate }}</span>
    <span class="icon">
      <i class="fa fa-plus sort-icon" aria-hidden="true"></i>
    </span>
  </span>
  <!-- PATTERN EMPTY -->
  <!-- PATTERN SELECTED -->

  <!-- PATTERN SELECTED -->

</section>
<!-- CUSTOM PATTERN -->