:host {

  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 42px;
  padding: 0 12px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--colour-toolbar-regular);
  background: #fff; 

  .sort-select {
    
    flex: 0 0 12px;
    padding-right: 12px;

  }
  .sort-param {

    display: flex;
    align-items: center;
    flex: 1 0 auto;

    &.long {

      flex-grow: 2;

    }

    .sort-cta {

      .title,
      .icon {

        display: block;
        float: left;

      }

      .title {
        
        color: #000000;
        font-size: 13px;

        &:hover {
          cursor: pointer;
        }

      }

      .icon {

        .sort-icon {

          display: block;
          color: #E4E4E4;
          transition: 300ms;
          margin: 0 0 0 10px;

          &:hover {

            color: var(--colour-primary);
            cursor: pointer;

          }

        }

        &-group {

          .sort-icon {

            margin: -6px 0 -6px 10px;

          }

        }

      }

    }
          
    &.active {

      .icon {

        .sort-icon.active {

          color: var(--colour-primary);

        }

      }

    }

  }

}