:host {

  width: 100%;
  display: block;
  padding: 32px;
  box-sizing: border-box;

  .section {

    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;

    &-title,
    &-headline,
    &-terms-group {

      flex: 0 0 100%;
    
    }

    &-title {

      margin: 0 0 12px 0;
      font-size: 23px;
      line-height: 23px;
      font-weight: var(--font-weight-bold);
      color: #000;

    }
    
    &-title:not(:first-of-type) {

      margin-top: 26px;

    }

    &-headline {

      margin: 12px 0 6px 0;
      font-size: 16px;
      line-height: 16px;
      font-size: var(--font-primary);
      font-weight: var(--font-weight-bold);
      color: #000;  

    }

    .party-headline {

      margin: 0 0 12px;
      font-size: 15px;

    }

    .p-group {

      box-sizing: border-box;
      border: 1px solid var(--colour-toolbar-regular);
      padding: 9px;
      margin-bottom: 18px;

      ol,
      ul {

        margin: 12px 0;   
        padding-left: 16px;

      }

      ol,
      ul,
      p {

        color: var(--colour-text);
        font-weight: var(--font-weight-regular);
        font-size: 13px;

      }

      p {

        letter-spacing: 0.05em;
        line-height: 18px;
        margin: 6px 0;

      }

    }

  }

  .section:not(:first-of-type) {

    .section-title {

      margin-top: 32px;

    }

  }

}