:host {

  display: block;
  width: 100%;    

  .user-input  {

    &-object {

      margin: 0 0 16px; 

    }

    &-icon.after {

      right: 15px;
      font-size: 12px;
      color: var(--colour-links);
  
    }     
  
    &-label {
  
      font-weight: var(--font-weight-bold);
      margin-bottom: 8px;
      font-size: 12px;
  
    }
  
    &-comment {
  
      color: #2f2f2f;
  
    }

  } 

  .selection {

    box-sizing: border-box;
    border: 1px solid var(--colour-toolbar-regular);
    width: 100%;
    height: 180px;
    overflow: hidden auto;
    border-radius: var(--corner-radius-medium);

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: var(--corner-radius-medium);
    }
    
    &::-webkit-scrollbar-track {
      background: #ddd;
      border-radius: var(--corner-radius-medium);
    }
    
    &::-webkit-scrollbar-thumb {
      background: #666; 
      border-radius: var(--corner-radius-medium);
    }

  }

  .save {

    margin-top: 16px;
    width: 100%;

  }

}
:host ::ng-deep {

  sf-folder {

    --icon-size: 12px;
    --color-active: #f3f3f3;
    --border-width: 0;

  }

}