<section class="navigation">
  <span [class.disabled]="isHomeDisabled" class="link" [title]="'COMPONENTS.HEADER.TODASHBOARD' | translate" (click)="toDashboard()">
    <i class="fas fa-home" aria-hidden="true"></i>
  </span>
</section>
<section class="search">
  <label class="user-input-object">
    <span class="user-input-grp">
      <span (click)="search($event)" [title]="'COMPONENTS.HEADER.SEARCHBUTTONTITLE' | translate" class="user-input-icon before clickable"><i class="fas fa-search" aria-hidden="true"></i></span>
      <input (keyup.enter)="search($event)" class="user-input-controller input" type="text" [placeholder]="'COMPONENTS.HEADER.SEARCHPLACEHOLDER' | translate" [(ngModel)]="query" />
    </span>
  </label>  
</section>
<section class="tools">
  <button class="small outline link" [title]="'COMPONENTS.HEADER.LOGOUT' | translate" (click)="logout()">
    <i class="fas fa-sign-out-alt icon" aria-hidden="true"></i>
    <span class="title">{{'COMPONENTS.HEADER.LOGOUT' | translate}}</span>
  </button>
  <button class="small outline link" [title]="'COMPONENTS.HEADER.SETTINGS' | translate" (click)="settings()">
    <i class="fas fa-cog icon" aria-hidden="true"></i>
    <span class="title">{{'COMPONENTS.HEADER.SETTINGS' | translate}}</span>
  </button>
</section>  