:host {

  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  box-sizing: border-box;
  height: var(--header-size);
  border-bottom: 1px solid var(--colour-toolbar-regular);
  background: var(--colour-toolbar-light);
  padding: 0 12px;

  .navigation,
  .search,
  .tools {

    display: block;
    height: 100%;

    .link {

      transition: 300ms;
      color: #A1A1A1;

      &:hover {

        cursor: pointer;
        color: #777777;

      }

    }

  }
  .navigation {

    flex: 0 0 auto;
    display: flex;
    align-items: center;

    .link {

      font-size: 21px;

      &.disabled {

        &,&:hover {
          color: #e0e0e0;
        }

      }

    }

  }
  .search {

    flex: 0 0 500px;
    display: flex;
    box-sizing: border-box;
    padding-left: 18px;
    align-items: center;
    
  }
  .tools {

    flex: 2 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .link {

      padding: 0 10px;

      .icon,
      .title {

        display: block;
        height: 32px;
        float: left;  

      }

      .icon {

        line-height: 31px;
        font-size: 13px;
        margin-right: 8px;
        color: #8f8f8f;

      }

      .title {

        line-height: 32px;
        font-size: 12px;
        color: var(--colour-button-outlined-light-text);

      }

      &:not(:last-child) {

        margin-right: 12px;

      }

    }

  }

}