:host {

  background: #fff;

  /** Inner scroll wrapper */
  .inner {
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(42px, max-content) minmax(42px, auto);
    width: 100%; 
    height: 100%;
    box-sizing: border-box;

  }

}
:host(.scrollable) {

  .inner {

    overflow: hidden auto;

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: var(--corner-radius-medium);
    }
    
    &::-webkit-scrollbar-track {
      background: #ddd;
      border-radius: var(--corner-radius-medium);
    }
    
    &::-webkit-scrollbar-thumb {
      background: #666; 
      border-radius: var(--corner-radius-medium);
    }

  }

}