<form>

  <h2>Inputs</h2>

  <section class="inputs">

    <label class="user-input-object">
      <span class="user-input-grp">
        <input class="user-input-controller" type="text" placeholder="Placeholder" />
      </span>
    </label>

    <label class="user-input-object">
      <span class="user-input-label">Label</span>
      <span class="user-input-grp">
        <span class="user-input-icon before clickable"><i class="fas fa-lock" aria-hidden="true"></i></span>
        <input class="user-input-controller input" type="text" placeholder="Placeholder" value="Input value" />
      </span>
    </label>

    <label class="user-input-object">
      <span class="user-input-label">Label</span>
      <span class="user-input-grp">
        <input class="user-input-controller input ng-invalid ng-touched" type="password" placeholder="Placeholder" value="your password" />
      </span>
    </label>

    <label class="user-input-object">
      <span class="user-input-label">Label</span>
      <span class="user-input-grp">
        <input class="user-input-controller input" type="text" placeholder="Placeholder" />
      </span>
    </label>

  </section>

  <h2>Radios, Checkboxes, Switches</h2>

  <section class="inputs">

    <label class="user-input-object">
      <span class="user-input-label">Label</span>
      <span class="user-input-grp">
        <input class="user-input-controller switch" type="checkbox" />
        <span class="user-input-controller-placeholder switch">
          <i class="fas fa-check" aria-hidden="true"></i>
        </span>
        <span class="user-input-description">Some label description</span>
      </span>
    </label>

    <label class="user-input-object">
      <span class="user-input-label">Label</span>
      <span class="user-input-grp">
        <input class="user-input-controller checkbox" type="checkbox" />
        <span class="user-input-controller-placeholder checkbox">
          <i class="fas fa-check" aria-hidden="true"></i>
        </span>
        <span class="user-input-description">Some label description</span>
      </span>
    </label>

    <label class="user-input-object">
      <span class="user-input-label">Label</span>
      <span class="user-input-grp">
        <input name="rad1" class="user-input-controller radio" type="radio" />
        <span class="user-input-controller-placeholder radio"></span>
        <span class="user-input-description">Some label description</span>
      </span>
    </label>

    <label class="user-input-object">
      <span class="user-input-label">Label</span>
      <span class="user-input-grp">
        <input name="rad1" checked class="user-input-controller radio" type="radio" />
        <span class="user-input-controller-placeholder radio"></span>
        <span class="user-input-description">Some label description</span>
      </span>
    </label>

  </section>

  <h2>Selects, Textareas</h2>

  <section class="inputs">
    <label class="user-input-object">
      <span class="user-input-label">Description</span>
      <span class="user-input-grp">
        <textarea class="user-input-controller textarea" placeholder="Your content"></textarea>
      </span>
    </label>

    <label class="user-input-object">
      <span class="user-input-label">Label</span>
      <span class="user-input-grp">
        <span class="user-input-icon after"><i aria-hidden="true" class="fa fa-angle-down"></i></span>
        <select class="user-input-controller select">
          <option disabled selected>Choose value</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select> 
      </span>
    </label>
  </section>

  <h2>Buttons</h2>

  <section class="buttons">

    <style>
      button {
        margin: 6px;
      }  
    </style>

    <button class="small">Small</button>
    <button class="small outline">Small outline</button>

    <button class="small" disabled>Small disabled</button>
    <button class="small outline" disabled>Small outline disabled</button>

    <button class="regular">Small</button>
    <button class="regular outline">Small outline</button>

    <button class="regular" disabled>Small disabled</button>
    <button class="regular outline" disabled>Small outline disabled</button>

    <button class="large">Large</button>
    <button class="large outline">Large outline</button>

    <button class="large" disabled>Large disabled</button>  
    <button class="large outline" disabled>Large outline disabled</button>

    <button class="regular primary">Small</button>
    <button class="regular primary outline">Small outline</button>

    <button class="regular primary" disabled>Small disabled</button>
    <button class="regular primary outline" disabled>Small outline disabled</button>

    <button class="regular">Small</button>
    <button class="regular outline">Small outline</button>

    <button class="regular" disabled>Small disabled</button>
    <button class="regular outline" disabled>Small outline disabled</button>

    <button class="regular danger">Small</button>
    <button class="regular danger outline">Small outline</button>

    <button class="regular danger" disabled>Small disabled</button>
    <button class="regular danger outline" disabled>Small outline disabled</button>

  </section>

</form>