<ng-container [ngSwitch]="progress">

  <ng-container *ngSwitchCase="1">
    <div class="inner-content step-01">
      <section class="document-selector" [class.full]="!filecount || filecount === 0">
        <sf-sidebar
          [enable-editor]="false"
          [enable-bulk-remove]="false"
          [active-selection-reference]="activeSelection$"
          [active-directory-reference]="activeDirectory$"
          (on-folder-open)="onFolderSelect($event)"
        ></sf-sidebar>
        <sf-document-list
          mode="compressed"
          [enable-editor]="false"
          [remember-sorting]="false"
          [active-directory-reference]="activeDirectory$"
          [document-selection-reference]="activeSelection$"
        ></sf-document-list>   
      </section>
      <footer class="footer" *ngIf="filecount && filecount > 0">
        <button class="primary regular" (click)="next()" [title]="'COMPONENTS.EXPORT.STEP1.CONTINUE' | translate">{{'COMPONENTS.EXPORT.STEP1.CONTINUE' | translate}}</button>
      </footer> 
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="2">
    <div class="inner-content step-02">
      <div class="inner-wrapper">
        <section class="config">
          <section class="section config-destination">
            <h2 class="section-headline">{{'COMPONENTS.EXPORT.STEP2.DESTINATION' | translate}}</h2>
            <label class="user-input-object">
              <span class="user-input-grp">
                <span class="user-input-pseudoinput" (click)="onFolderSelectOpen($event)">{{exportConfig.path ? exportConfig.path : ('COMPONENTS.EXPORT.STEP2.NODESTINATIONSELECTED' | translate)}}</span>
              </span>
            </label>
          </section>
          <section class="section config-security">
            <h2 class="section-headline">{{'COMPONENTS.EXPORT.STEP2.SECURITY' | translate}}</h2>
            <label class="user-input-object">
              <span class="user-input-grp">
                <input [(ngModel)]="isPackagePasswordEnabled" class="user-input-controller switch" type="checkbox" />
                <span class="user-input-controller-placeholder switch"></span>
                <span class="user-input-description">{{'COMPONENTS.EXPORT.STEP2.SECUREEXPORT' | translate}}</span>
              </span>
              <label class="user-input-object" *ngIf="isPackagePasswordEnabled">
                <span class="user-input-label">{{'GENERAL.PASSWORD' | translate}}</span>
                <span class="user-input-grp">
                  <span (click)="isPasswordPlain = !isPasswordPlain" class="user-input-icon after clickable"><i class="fas" [class.fa-eye-slash]="!isPasswordPlain" [class.fa-eye]="isPasswordPlain" aria-hidden="true"></i></span>
                  <input [disabled]="exportConfig.format !== 'package'" class="user-input-controller" [type]="isPasswordPlain ? 'text' : 'password'" [(ngModel)]="exportConfig.password" [placeholder]="'GENERAL.PASSWORD' | translate" />
                </span>
              </label>
            </label>
          </section>
          <section class="section config-compression">
            <h2 class="section-headline">{{'COMPONENTS.EXPORT.STEP2.COMPRESSION' | translate}}</h2>
            <label class="user-input-object">
              <span class="user-input-grp">
                <input [(ngModel)]="exportConfig.format" value="individual" name="compression" class="user-input-controller radio" type="radio" />
                <span class="user-input-controller-placeholder radio"></span>
                <span class="user-input-description">{{'COMPONENTS.EXPORT.STEP2.COMPRESSIONINDIVIDUAL' | translate}}</span>
              </span>
            </label>
            <label class="user-input-object">
              <span class="user-input-grp">
                <input [(ngModel)]="exportConfig.format" value="package" name="compression" class="user-input-controller radio" type="radio" />
                <span class="user-input-controller-placeholder radio"></span>
                <span class="user-input-description">{{'COMPONENTS.EXPORT.STEP2.COMPRESSIONPACKAGE' | translate}}</span>
              </span>
            </label>
          </section>
        </section>
      </div>
      <footer class="footer" *ngIf="exportConfig.path && exportConfig.path !== ''">
        <button class="primary outline" (click)="previous()" [title]="'COMPONENTS.EXPORT.STEP2.BACK' | translate">{{'COMPONENTS.EXPORT.STEP2.BACK' | translate}}</button>
        <button class="primary regular" (click)="onExport($event)" style="margin-left: 12px" [title]="'COMPONENTS.EXPORT.STEP2.CONTINUE' | translate">{{'COMPONENTS.EXPORT.STEP2.CONTINUE' | translate}}</button>
      </footer> 
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="3">
    <div class="inner-content step-03">
      <span class="loading-icon">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
      <span class="label" [innerHTML]="'COMPONENTS.EXPORT.STEP3.BODY' | translate"></span>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="4">
    <div class="inner-content step-04">
      <span class="success-icon">
        <i class="fa fa-check"></i>
      </span>
      <span class="label" [innerHTML]="'COMPONENTS.EXPORT.STEP4.BODY' | translate : { x : (filecount) }"></span>
    </div>
  </ng-container>

  </ng-container>