:host {

  display: block;
  width: 100%;
  height: 100%;

  .inner-content {

    display: block;
    width: 100%;
    box-sizing: border-box;

    &.step-01 {

      display: flex;
      flex-flow: column nowrap;
      box-sizing: border-box;
      width: 100%;
      height: 100%;

      .document-selector {

        flex: 1 2 auto;
        position: relative;
        width: 100%;
        max-height: calc(100% - 60px);
        display:flex;
        justify-content:flex-start;
        flex-direction: row;
    
        &.full {

          max-height: 100%;

        }

      }

    }
    &.step-02 {

      display: flex;
      flex-flow: column nowrap;
      box-sizing: border-box;
      width: 100%;
      height: 100%;

      & .inner-wrapper {

        width: 100%;
        max-height: calc(100% - 60px);
        flex: 1 2 auto;
        float: left;        
        padding: 8px 32px 16px; 
        box-sizing: border-box;

      }

      .config {

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        position: relative;
        width: 100%;

        &.full {

          max-height: 100%;

        }

        .section {
    
          &-headline {
    
            margin: 0 0 6px 0;
            font-size: 16px;
            line-height: 16px;
            font-size: var(--font-primary);
            font-weight: var(--font-weight-bold);
            color: #000;
    
          }
    
          &:not(:last-child) {
            margin-bottom: 16px;
          }
    
        }

        &-destination {
          margin-top: 24px;
          flex: 0 0 100%;
          .user-input-controller {
            // display: none;
          }
        }
        &-security {
          flex: 0 0 45%;
        }
        &-compression {
          flex: 0 0 45%;

          .user-input-object {

            margin-bottom: 3px;

          }

        }

      }

    }
    &.step-03,
    &.step-04 {

      height: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;

      .loading-icon {

        color: #bbb;
        font-size: 30px;

      }

      .success-icon {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: var(--colour-primary);

        i {

          font-size: 46px;
          color: #fff;

        }

      }

      .label {

        width: 100%;
        display: block;
        margin-top: 32px;
        font-size: 18px;
        color: #000;
        text-align: center;

      }

    }

  }

}
:host {

  .footer {

    flex: 0 0 60px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border-top: 1px solid #E4E4E4;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 28px;

    .next-file {

      margin-left: 12px;

    }

  }

} 